http_interactions:
- request:
    method: POST
    uri: https://api.notion.com/v1/comments
    body:
      string: '{"rich_text":[{"tetx":{"content":"hello world"}}],"parent":{"page_id":"22f33ea0c1e480b99c77d1ab72aedff9"}}'
  response:
    status: 400
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"16d-uU9do+Qx/SmMufe7ITTNTzKjUkA"
      x-notion-request-id: 003bd732-c3de-4ddd-8cd8-1ea46857265e
    body:
      string: '{"object":"error","status":400,"code":"validation_error","message":"body
        failed validation. Fix one:\nbody.rich_text[0].text should be defined, instead
        was `undefined`.\nbody.rich_text[0].mention should be defined, instead was
        `undefined`.\nbody.rich_text[0].equation should be defined, instead was `undefined`.","request_id":"003bd732-c3de-4ddd-8cd8-1ea46857265e"}'
  recorded_at: 2026-04-12 08:10:52
recorded_with: VCR-vcr/2.1.0
