http_interactions:
- request:
    method: GET
    uri: https://api.notion.com/v1/users/me
  response:
    status: 401
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"8b-QLnTdp7j7QEk+z3c3s80hkoJ0Ww"
      x-notion-request-id: f1473872-9477-43c7-9e63-cf84b1340eb5
    body:
      string: '{"object":"error","status":401,"code":"unauthorized","message":"API
        token is invalid.","request_id":"f1473872-9477-43c7-9e63-cf84b1340eb5"}'
  recorded_at: 2026-04-11 12:01:24
recorded_with: VCR-vcr/2.1.0
