http_interactions:
- request:
    method: GET
    uri: https://api.notion.com/v1/blocks/12345ea0c1e4808c95d2c6b376c4fe2f
  response:
    status: 404
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"10a-GUgUMGtDSnzjneoiOVIx5h1HX8g"
      x-notion-request-id: eba811be-b071-4008-9e81-ce75fa3c2bb1
    body:
      string: '{"object":"error","status":404,"code":"object_not_found","message":"Could
        not find block with ID: 12345ea0-c1e4-808c-95d2-c6b376c4fe2f. Make sure the
        relevant pages and databases are shared with your integration.","request_id":"eba811be-b071-4008-9e81-ce75fa3c2bb1"}'
  recorded_at: 2025-07-23 05:00:45
recorded_with: VCR-vcr/1.7.1.93
