http_interactions:
- request:
    method: GET
    uri: https://api.notion.com/v1/users/me
  response:
    status: 401
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"8b-PLE31XUcpjHI5Wvtz+A803s5488"
      x-notion-request-id: 49c4bac9-2678-4b50-aed9-e671130ad10e
    body:
      string: '{"object":"error","status":401,"code":"unauthorized","message":"API
        token is invalid.","request_id":"49c4bac9-2678-4b50-aed9-e671130ad10e"}'
  recorded_at: 2026-04-12 21:18:38
recorded_with: VCR-vcr/2.1.0
