http_interactions:
- request:
    method: GET
    uri: https://api.notion.com/v1/blocks/12345ea0c1e4808c95d2c6b376c4fe2f
  response:
    status: 404
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"16b-U/aGhZJf76vRy++ELwWsuTJGnrE"
      x-notion-request-id: 8b1d06db-4aab-466f-b897-f815914a7076
    body:
      string: '{"object":"error","status":404,"code":"object_not_found","message":"Could
        not find block with ID: 12345ea0-c1e4-808c-95d2-c6b376c4fe2f. Make sure the
        relevant pages and databases are shared with your integration \"brenwin-internal\".","additional_data":{"integration_id":"6b786605-e456-4237-9c61-5efaff23c081"},"request_id":"8b1d06db-4aab-466f-b897-f815914a7076"}'
  recorded_at: 2026-04-11 12:01:23
recorded_with: VCR-vcr/2.1.0
