http_interactions:
- request:
    method: POST
    uri: https://api.notion.com/v1/comments
    body:
      string: '{"rich_text":[{"tetx":{"content":"hello world"}}],"parent":{"page_id":"22f33ea0c1e480b99c77d1ab72aedff9"}}'
  response:
    status: 400
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"16d-hJH2BH+ek52LPgCxAq1jvTW3t2E"
      x-notion-request-id: 440f81af-2d69-411a-89ec-0ef1b06606cd
    body:
      string: '{"object":"error","status":400,"code":"validation_error","message":"body
        failed validation. Fix one:\nbody.rich_text[0].text should be defined, instead
        was `undefined`.\nbody.rich_text[0].mention should be defined, instead was
        `undefined`.\nbody.rich_text[0].equation should be defined, instead was `undefined`.","request_id":"440f81af-2d69-411a-89ec-0ef1b06606cd"}'
  recorded_at: 2026-04-11 12:01:24
recorded_with: VCR-vcr/2.1.0
