http_interactions:
- request:
    method: GET
    uri: https://api.notion.com/v1/users/me
  response:
    status: 401
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"8b-Ukjt1ig3fDFqzO6/l491YL9Seuw"
      x-notion-request-id: 62942bf3-c19d-48a5-88cc-d0a5c9dbd7da
    body:
      string: '{"object":"error","status":401,"code":"unauthorized","message":"API
        token is invalid.","request_id":"62942bf3-c19d-48a5-88cc-d0a5c9dbd7da"}'
  recorded_at: 2025-07-23 05:00:53
recorded_with: VCR-vcr/1.7.1.93
