http_interactions:
- request:
    method: GET
    uri: https://api.notion.com/v1/users/me
  response:
    status: 401
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"8b-+ePpfTWXU6eLkR0evKkcU3ZQmpk"
      x-notion-request-id: b057dec7-e93b-4ee4-8f4a-0854d6df9477
    body:
      string: '{"object":"error","status":401,"code":"unauthorized","message":"API
        token is invalid.","request_id":"b057dec7-e93b-4ee4-8f4a-0854d6df9477"}'
  recorded_at: 2026-04-12 08:10:52
recorded_with: VCR-vcr/2.1.0
