http_interactions:
- request:
    method: GET
    uri: https://api.notion.com/v1/blocks/12345ea0c1e4808c95d2c6b376c4fe2f
  response:
    status: 404
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"16b-7TpuUTmlO1PVhYsXNIPppf6fzt0"
      x-notion-request-id: 661cae61-a0d8-45fb-a00d-bf126063238f
    body:
      string: '{"object":"error","status":404,"code":"object_not_found","message":"Could
        not find block with ID: 12345ea0-c1e4-808c-95d2-c6b376c4fe2f. Make sure the
        relevant pages and databases are shared with your integration \"brenwin-internal\".","additional_data":{"integration_id":"6b786605-e456-4237-9c61-5efaff23c081"},"request_id":"661cae61-a0d8-45fb-a00d-bf126063238f"}'
  recorded_at: 2026-04-12 08:10:52
recorded_with: VCR-vcr/2.1.0
