http_interactions:
- request:
    method: POST
    uri: https://api.notion.com/v1/comments
    body:
      string: '{"rich_text":[{"tetx":{"content":"hello world"}}],"parent":{"page_id":"22f33ea0c1e480b99c77d1ab72aedff9"}}'
  response:
    status: 400
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"16d-SBXdZBmhsKEs0kXPj2VG9mAERJw"
      x-notion-request-id: 8cc2c631-fcf9-4feb-90d4-d5348b092f42
    body:
      string: '{"object":"error","status":400,"code":"validation_error","message":"body
        failed validation. Fix one:\nbody.rich_text[0].text should be defined, instead
        was `undefined`.\nbody.rich_text[0].mention should be defined, instead was
        `undefined`.\nbody.rich_text[0].equation should be defined, instead was `undefined`.","request_id":"8cc2c631-fcf9-4feb-90d4-d5348b092f42"}'
  recorded_at: 2026-04-12 21:18:37
recorded_with: VCR-vcr/2.1.0
