http_interactions:
- request:
    method: GET
    uri: https://api.notion.com/v1/blocks/12345ea0c1e4808c95d2c6b376c4fe2f
  response:
    status: 404
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"16b-u//g0N4dDbVS2Nqu+LKQh+2kZQA"
      x-notion-request-id: 49086352-60b2-4c1e-ab9b-7121be2859d7
    body:
      string: '{"object":"error","status":404,"code":"object_not_found","message":"Could
        not find block with ID: 12345ea0-c1e4-808c-95d2-c6b376c4fe2f. Make sure the
        relevant pages and databases are shared with your integration \"brenwin-internal\".","additional_data":{"integration_id":"6b786605-e456-4237-9c61-5efaff23c081"},"request_id":"49086352-60b2-4c1e-ab9b-7121be2859d7"}'
  recorded_at: 2026-04-12 21:18:37
recorded_with: VCR-vcr/2.1.0
