http_interactions:
- request:
    method: POST
    uri: https://api.notion.com/v1/databases/22833ea0c1e481178e9cf1dcba79dbca/query
    body:
      string: '{"filter":{"orr":[{"property":"In stock","checkbox":{"equals":true}}]},"page_size":100}'
  response:
    status: 400
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"67e-kDiOOmKRHIL0k2B2lTcQjML1IT0"
      x-notion-request-id: e0c807a3-4ea3-476e-b280-dff0a7d0ecb3
    body:
      string: '{"object":"error","status":400,"code":"validation_error","message":"body
        failed validation. Fix one:\nbody.filter.or should be defined, instead was
        `undefined`.\nbody.filter.and should be defined, instead was `undefined`.\nbody.filter.title
        should be defined, instead was `undefined`.\nbody.filter.rich_text should
        be defined, instead was `undefined`.\nbody.filter.number should be defined,
        instead was `undefined`.\nbody.filter.checkbox should be defined, instead
        was `undefined`.\nbody.filter.select should be defined[...]
