http_interactions:
- request:
    method: DELETE
    uri: https://api.notion.com/v1/blocks/34033ea0-c1e4-8123-be95-e77dcc78e47d
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"316-gvNL+5Ufwkjv5VjNE9oE1AP12vk"
      x-notion-request-id: 87b68305-aec0-4047-8d58-ccf10945cfea
    body:
      string: '{"object":"block","id":"34033ea0-c1e4-8123-be95-e77dcc78e47d","parent":{"type":"page_id","page_id":"34033ea0-c1e4-81c4-afa0-d1ec98de4bec"},"created_time":"2026-04-12T21:18:00.000Z","last_edited_time":"2026-04-12T21:19:00.000Z","created_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"last_edited_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"has_children":false,"in_trash":true,"type":"heading_2","heading_2":{"rich_text":[{"type":"text","text":{"content":"Updated
        Test Heading","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Updated
        Test Heading","href":null}],"is_toggleable":false,"color":"default"},"request_id":"87b68305-aec0-4047-8d58-ccf10945cfea"}'
  recorded_at: 2026-04-12 21:19:09
recorded_with: VCR-vcr/2.1.0
