http_interactions:
- request:
    method: PATCH
    uri: https://api.notion.com/v1/pages/33f33ea0-c1e4-811a-9790-c5068b52c5d7
    body:
      string: "{\"icon\":{\"emoji\":\"\U0001F436\"}}"
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"3b2-+tdI3TiCR33WvEMwM9p7/U4yi+4"
      x-notion-request-id: 1ed3b470-0fb0-4df9-bdaf-681c9a67eb9f
    body:
      string: "{\"object\":\"page\",\"id\":\"33f33ea0-c1e4-811a-9790-c5068b52c5d7\",\"created_time\":\"2026-04-11T12:01:00.000Z\",\"last_edited_time\":\"2026-04-11T12:01:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"6b786605-e456-4237-9c61-5efaff23c081\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"6b786605-e456-4237-9c61-5efaff23c081\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F436\"},\"parent\":{\"type\":\"page_id\",\"page_id\":\"22f33ea0-c1e4-80b9-9c77-d1ab72aedff9\"},\"in_trash\":false,\"is_archived\":false,\"is_locked\":false,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
        Page for notionapi\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Test
        Page for notionapi\",\"href\":null}]}},\"url\":\"https://www.notion.so/Test-Page-for-notionapi-33f33ea0c1e4811a9790c5068b52c5d7\",\"public_url\":null,\"request_id\":\"1ed3b470-0fb0-4df9-bdaf-681c9a67eb9f\"}"
  recorded_at: 2026-04-11 12:01:29
recorded_with: VCR-vcr/2.1.0
