http_interactions:
- request:
    method: DELETE
    uri: https://api.notion.com/v1/views/34033ea0-c1e4-8192-ac14-000cdad096ce
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"d5-PrLyag8Rn9M3KMk/G6WAX8LQDPY"
      x-notion-request-id: b3ac0c2a-64a7-4102-b4a6-e5a066003751
    body:
      string: '{"object":"view","id":"34033ea0-c1e4-8192-ac14-000cdad096ce","parent":{"type":"database_id","database_id":"ffec20ee-1450-4da8-9904-f4babba0e9c0"},"type":"table","request_id":"b3ac0c2a-64a7-4102-b4a6-e5a066003751"}'
  recorded_at: 2026-04-12 21:19:04
recorded_with: VCR-vcr/2.1.0
