http_interactions:
- request:
    method: GET
    uri: https://api.notion.com/v1/pages/34033ea0-c1e4-8181-a411-fcffc69c690a/properties/BvMv
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"be-vcKZ/+raK94vp7/88vfyd+70BHw"
      x-notion-request-id: b72cd44e-0352-41b6-bde8-e9eec5e64b1f
    body:
      string: '{"object":"property_item","type":"status","id":"BvMv","status":{"id":"d240ac03-dfab-4eb3-8a98-2330b66c38f7","name":"To
        do","color":"red"},"request_id":"b72cd44e-0352-41b6-bde8-e9eec5e64b1f"}'
  recorded_at: 2026-04-12 08:11:18
recorded_with: VCR-vcr/2.1.0
