http_interactions:
- request:
    method: POST
    uri: https://api.notion.com/v1/file_uploads
    body:
      string: '{"mode":"external_url","filename":"dummy.pdf","content_type":"application/pdf","external_url":"https://github.com/brenwin1/notionapi/blob/dev/tests/testthat/test.pdf"}'
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"213-s4rQqIzoip6tqshFDrIL7cd0KvY"
      x-notion-request-id: 2973ac14-de1b-4479-8166-efbfaa44832d
    body:
      string: '{"object":"file_upload","id":"34033ea0-c1e4-8136-b532-00b25ce75d2c","created_time":"2026-04-12T01:24:00.000Z","created_by":{"id":"6b786605-e456-4237-9c61-5efaff23c081","type":"bot"},"last_edited_time":"2026-04-12T01:24:00.000Z","expiry_time":"2026-04-12T02:24:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/34033ea0-c1e4-8136-b532-00b25ce75d2c/send","in_trash":false,"status":"pending","filename":"dummy.pdf","content_type":"application/pdf","content_length":null,"request_id":"2973ac14-de1b-4479-8166-efbfaa44832d"}'
  recorded_at: 2026-04-12 01:24:33
recorded_with: VCR-vcr/2.1.0
