http_interactions:
- request:
    method: GET
    uri: https://api.notion.com/v1/views?data_source_id=34033ea0-c1e4-8112-bc3a-000bc940aa45
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"109-DIQWNNxqMmA/UYcCdiMqoSiY4QU"
      x-notion-request-id: 2f24742c-6e72-4599-abc3-4232451dc7be
    body:
      string: '{"object":"list","results":[{"object":"view","id":"34033ea0-c1e4-818e-9c98-000c019044bd"},{"object":"view","id":"34033ea0-c1e4-8192-ac14-000cdad096ce"}],"next_cursor":null,"has_more":false,"type":"view","view":{},"request_id":"2f24742c-6e72-4599-abc3-4232451dc7be"}'
  recorded_at: 2026-04-12 21:18:59
recorded_with: VCR-vcr/2.1.0
