http_interactions:
- request:
    method: GET
    uri: https://api.notion.com/v1/databases/5f9759b2-ad71-4b66-880f-d0306614227b
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"30f-b1pVj+iIqC7gndyyliugiQhlhXI"
      x-notion-request-id: f2117844-74cb-4a82-8bd1-65dd3b1141c4
    body:
      string: '{"object":"database","id":"5f9759b2-ad71-4b66-880f-d0306614227b","title":[{"type":"text","text":{"content":"Test
        Database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"22f33ea0-c1e4-80b9-9c77-d1ab72aedff9"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-04-11T12:01:45.055+00:00","last_edited_time":"2026-04-11T12:01:45.055+00:00","data_sources":[{"id":"a596f1d9-379c-4ae3-8d4a-707d9ca4a0b0","name":"Test
        Database"}],"icon":null,"cover":null,"url":"https://www.notion.so/5f9759b2ad714b66880fd0306614227b","public_url":null,"request_id":"f2117844-74cb-4a82-8bd1-65dd3b1141c4"}'
  recorded_at: 2026-04-11 12:01:48
recorded_with: VCR-vcr/2.1.0
