http_interactions:
- request:
    method: GET
    uri: https://api.notion.com/v1/file_uploads
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"4fe0-ZhLGB/p/6fK9lczVHu/83QzXRRE"
      x-notion-request-id: 9e782508-03ac-43a0-9f62-30b28321f6d8
    body:
      string: '{"object":"list","results":[{"object":"file_upload","id":"33f33ea0-c1e4-81e0-ac08-00b2d6067a9c","created_time":"2026-04-11T12:02:00.000Z","created_by":{"id":"6b786605-e456-4237-9c61-5efaff23c081","type":"bot"},"last_edited_time":"2026-04-11T12:02:00.000Z","expiry_time":"2026-04-11T13:02:00.000Z","in_trash":false,"status":"uploaded","filename":"test-large.txt","content_type":"text/plain;
        charset=utf-8","content_length":11534336,"number_of_parts":{"total":2,"sent":2}},{"object":"file_upload","id":"33f33ea0-c1e4-81f1-8ac1-00b2bbf4291a","created_time":"2026-04-11T12:02:00.000Z","created_by":{"id":"6b786605-e456-4237-9c61-5efaff23c081","type":"bot"},"last_edited_time":"2026-04-11T12:02:00.000Z","expiry_time":"2026-04-11T13:02:00.000Z","in_trash":false,"status":"uploaded","filename":"test.pdf","content_type":"application/pdf","content_length":40666},{"object":"file_upload","id":"33f33ea0-c1e4-81af-803f-00b230a8d449","created_time":"2026-04-11T11:46:00.000Z","[...]
