http_interactions:
- request:
    method: GET
    uri: https://api.notion.com/v1/users/fda12729-108d-4eb5-bbfb-a8f0886794d1
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"b0-kmTesMrjnnrxK5vH9oTNZQdy3BU"
      x-notion-request-id: f53db350-84cc-4efd-a8cc-cb9a01d0059b
    body:
      string: '{"object":"user","id":"fda12729-108d-4eb5-bbfb-a8f0886794d1","name":"Brenwin","avatar_url":null,"type":"person","person":{},"request_id":"f53db350-84cc-4efd-a8cc-cb9a01d0059b"}'
  recorded_at: 2025-07-23 05:01:08
recorded_with: VCR-vcr/1.7.1.93
