http_interactions:
- request:
    method: POST
    uri: https://api.notion.com/v1/data_sources/34033ea0-c1e4-81a2-aaf4-000b260f79c9/query
    body:
      string: '{"filter":{"property":"Status","status":{"equals":"To do"}}}'
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"4cd-k2/bfATrUNVTaozps20MzJWnRIg"
      x-notion-request-id: 53ec7339-c4ab-4cb1-875f-9d72c6750911
    body:
      string: '{"object":"list","results":[{"object":"page","id":"34033ea0-c1e4-8181-a411-fcffc69c690a","created_time":"2026-04-12T08:10:00.000Z","last_edited_time":"2026-04-12T08:11:00.000Z","created_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"last_edited_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"34033ea0-c1e4-81a2-aaf4-000b260f79c9","database_id":"efab1bec-0094-4afe-a90c-c9b72d538b4b"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Status":{"id":"BvMv","type":"status","status":{"id":"d240ac03-dfab-4eb3-8a98-2330b66c38f7","name":"To
        do","color":"red"}},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        Page for notionapi","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Page for notionapi","href":null}]}},"url":"https://www.notion.so/Test-Page-for-notionapi-34033ea0c1e48181a411fcffc69c690a","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"53ec7339-c4ab-4cb1-875f-9d72c6750911"}'
  recorded_at: 2026-04-12 08:11:18
recorded_with: VCR-vcr/2.1.0
