http_interactions:
- request:
    method: POST
    uri: https://api.notion.com/v1/databases
    body:
      string: '{"parent":{"type":"page_id","page_id":"22f33ea0c1e480b99c77d1ab72aedff9"},"title":[{"text":{"content":"Test
        Database"}}]}'
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"30f-dBmt3goEl9F3t/58udRKKqlSxoE"
      x-notion-request-id: ad67e59e-1cdc-44f9-a420-ce0bf226d514
    body:
      string: '{"object":"database","id":"5f9759b2-ad71-4b66-880f-d0306614227b","title":[{"type":"text","text":{"content":"Test
        Database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"22f33ea0-c1e4-80b9-9c77-d1ab72aedff9"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-04-11T12:01:45.055+00:00","last_edited_time":"2026-04-11T12:01:45.055+00:00","data_sources":[{"id":"a596f1d9-379c-4ae3-8d4a-707d9ca4a0b0","name":"Test
        Database"}],"icon":null,"cover":null,"url":"https://www.notion.so/5f9759b2ad714b66880fd0306614227b","public_url":null,"request_id":"ad67e59e-1cdc-44f9-a420-ce0bf226d514"}'
  recorded_at: 2026-04-11 12:01:47
recorded_with: VCR-vcr/2.1.0
