http_interactions:
- request:
    method: POST
    uri: https://api.notion.com/v1/views/33f33ea0-c1e4-8145-9555-000c19cc8d71/queries
    body:
      string: '{}'
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"153-pSvT/Oq9x77lA5Qhe64RsAGgD0w"
      x-notion-request-id: 864f2514-3b5c-484d-8b49-655bae8a181c
    body:
      string: '{"object":"view_query","id":"ee90464c-bd8d-4882-bba6-792a1dba18c6","view_id":"33f33ea0-c1e4-8145-9555-000c19cc8d71","expires_at":"2026-04-11T12:16:58.328+00:00","total_count":1,"results":[{"object":"page","id":"33f33ea0-c1e4-811a-9790-c5068b52c5d7"}],"next_cursor":null,"has_more":false,"request_id":"864f2514-3b5c-484d-8b49-655bae8a181c"}'
  recorded_at: 2026-04-11 12:01:58
recorded_with: VCR-vcr/2.1.0
