http_interactions:
- request:
    method: POST
    uri: https://api.notion.com/v1/file_uploads
    body:
      string: '{"mode":"external_url","filename":"dummy.pdf","content_type":"application/pdf","external_url":"https://github.com/brenwin1/notionapi/blob/main/tests/testthat/test.pdf"}'
  response:
    status: 400
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"e6-dH/U4CWB1oLhbb/zzbVpopcwyC0"
      x-notion-request-id: ee1fcd15-7380-4375-919f-e07f2b89c9ef
    body:
      string: '{"object":"error","status":400,"code":"validation_error","message":"Failed
        to fetch the headers of the external URL. Ensure it''s a valid, publicly accessible
        URL and try again.","request_id":"ee1fcd15-7380-4375-919f-e07f2b89c9ef"}'
  recorded_at: 2026-04-11 12:02:19
recorded_with: VCR-vcr/2.1.0
