http_interactions:
- request:
    method: GET
    uri: https://api.notion.com/v1/users/fda12729-108d-4eb5-bbfb-a8f0886794d1
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"b0-L7bUphTdCvpSzQEtnCTwlu0ySQA"
      x-notion-request-id: 323e473c-f861-43ea-bfc1-a8fb2daeaf5d
    body:
      string: '{"object":"user","id":"fda12729-108d-4eb5-bbfb-a8f0886794d1","name":"Brenwin","avatar_url":null,"type":"person","person":{},"request_id":"323e473c-f861-43ea-bfc1-a8fb2daeaf5d"}'
  recorded_at: 2026-04-12 08:11:29
recorded_with: VCR-vcr/2.1.0
