http_interactions:
- request:
    method: PATCH
    uri: https://api.notion.com/v1/pages/34033ea0-c1e4-81c4-afa0-d1ec98de4bec
    body:
      string: '{"in_trash":true}'
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"458-uHXuaXNZoGls1vPFtB4wqH6oyVA"
      x-notion-request-id: 076984c7-e5ec-4ced-8346-c9d13f805afe
    body:
      string: '{"object":"page","id":"34033ea0-c1e4-81c4-afa0-d1ec98de4bec","created_time":"2026-04-12T21:18:00.000Z","last_edited_time":"2026-04-12T21:19:00.000Z","created_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"last_edited_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"34033ea0-c1e4-8112-bc3a-000bc940aa45","database_id":"ffec20ee-1450-4da8-9904-f4babba0e9c0"},"in_trash":true,"is_archived":false,"is_locked":false,"properties":{"Status":{"id":"%60w%5CX","type":"status","status":{"id":"c8f1b3f9-4927-44c4-9901-f94d31e7c351","name":"To
        do","color":"red"}},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        Page for notionapi","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Page for notionapi","href":null}]}},"url":"https://www.notion.so/Test-Page-for-notionapi-34033ea0c1e481c4afa0d1ec98de4bec","public_url":null,"request_id":"076984c7-e5ec-4ced-8346-c9d13f805afe"}'
  recorded_at: 2026-04-12 21:19:11
recorded_with: VCR-vcr/2.1.0
