http_interactions:
- request:
    method: GET
    uri: https://api.notion.com/v1/comments/34033ea0-c1e4-81a9-ba52-001d7629e201
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"2cb-t7QRFxsfyBaD0QpwUm6PCnDog/A"
      x-notion-request-id: af640bea-f6f7-43b4-9e7a-f73d1a7bce81
    body:
      string: '{"object":"comment","id":"34033ea0-c1e4-81a9-ba52-001d7629e201","parent":{"type":"page_id","page_id":"34033ea0-c1e4-8181-a411-fcffc69c690a"},"discussion_id":"34033ea0-c1e4-8128-ac6c-001c0bc74a7f","created_time":"2026-04-12T08:11:00.000Z","last_edited_time":"2026-04-12T08:11:00.000Z","created_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"rich_text":[{"type":"text","text":{"content":"Hello
        world!","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Hello
        world!","href":null}],"display_name":{"type":"integration","resolved_name":"brenwin-internal"},"request_id":"af640bea-f6f7-43b4-9e7a-f73d1a7bce81"}'
  recorded_at: 2026-04-12 08:11:26
recorded_with: VCR-vcr/2.1.0
