http_interactions:
- request:
    method: PATCH
    uri: https://api.notion.com/v1/pages/33f33ea0-c1e4-811a-9790-c5068b52c5d7
    body:
      string: '{"in_trash":true}'
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"471-py5eQkSRGsgJDfM+McwuEVigovs"
      x-notion-request-id: e06ba481-025d-46ac-9b74-83041bdf73c0
    body:
      string: "{\"object\":\"page\",\"id\":\"33f33ea0-c1e4-811a-9790-c5068b52c5d7\",\"created_time\":\"2026-04-11T12:01:00.000Z\",\"last_edited_time\":\"2026-04-11T12:02:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"6b786605-e456-4237-9c61-5efaff23c081\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"6b786605-e456-4237-9c61-5efaff23c081\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F436\"},\"parent\":{\"type\":\"data_source_id\",\"data_source_id\":\"33f33ea0-c1e4-81a7-af25-000b2a6ab72d\",\"database_id\":\"5f9759b2-ad71-4b66-880f-d0306614227b\"},\"in_trash\":true,\"is_archived\":false,\"is_locked\":false,\"properties\":{\"Status\":{\"id\":\"u%7Clh\",\"type\":\"status\",\"status\":{\"id\":\"3ac028c6-120e-408e-a5ac-01babd8c42b9\",\"name\":\"To
        do\",\"color\":\"red\"}},\"Title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
        Page for notionapi\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Test
        Page for notionapi\",\"href\":null}]}},\"url\":\"https://www.notion.so/Test-Page-for-notionapi-33f33ea0c1e4811a9790c5068b52c5d7\",\"public_url\":null,\"request_id\":\"e06ba481-025d-46ac-9b74-83041bdf73c0\"}"
  recorded_at: 2026-04-11 12:02:09
recorded_with: VCR-vcr/2.1.0
