http_interactions:
- request:
    method: PATCH
    uri: https://api.notion.com/v1/blocks/23933ea0-c1e4-81d6-a6f6-dd5b57ad4aba/children
    body:
      string: '{"children":[{"object":"block","heading_2":{"rich_text":[{"text":{"content":"Test
        Heading"}}]}}]}'
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"374-A6kJmykGrC35NgWUe7JWch3CH+w"
      x-notion-request-id: 9e6e8dcd-dac3-479f-9d0c-b5ef44b628c9
    body:
      string: '{"object":"list","results":[{"object":"block","id":"23933ea0-c1e4-81dc-9f56-f3fa251a757f","parent":{"type":"page_id","page_id":"23933ea0-c1e4-81d6-a6f6-dd5b57ad4aba"},"created_time":"2025-07-23T05:00:00.000Z","last_edited_time":"2025-07-23T05:00:00.000Z","created_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"last_edited_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"has_children":false,"archived":false,"in_trash":false,"type":"heading_2","heading_2":{"rich_text":[{"type":"text","text":{"content":"Test
        Heading","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Heading","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"9e6e8dcd-dac3-479f-9d0c-b5ef44b628c9"}'
  recorded_at: 2025-07-23 05:00:57
recorded_with: VCR-vcr/1.7.1.93
