http_interactions:
- request:
    method: GET
    uri: https://api.notion.com/v1/blocks/34033ea0-c1e4-8137-9ae8-e09c23601f12
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"307-DlSie/NXTWyUFw9psei/VoGHsUM"
      x-notion-request-id: 2bd93a52-1f5b-4d04-af48-f50d2afcc524
    body:
      string: '{"object":"block","id":"34033ea0-c1e4-8137-9ae8-e09c23601f12","parent":{"type":"page_id","page_id":"34033ea0-c1e4-8181-a411-fcffc69c690a"},"created_time":"2026-04-12T08:11:00.000Z","last_edited_time":"2026-04-12T08:11:00.000Z","created_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"last_edited_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"has_children":false,"in_trash":false,"type":"heading_2","heading_2":{"rich_text":[{"type":"text","text":{"content":"Test
        Heading","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Heading","href":null}],"is_toggleable":false,"color":"default"},"request_id":"2bd93a52-1f5b-4d04-af48-f50d2afcc524"}'
  recorded_at: 2026-04-12 08:11:04
recorded_with: VCR-vcr/2.1.0
