http_interactions:
- request:
    method: PATCH
    uri: https://api.notion.com/v1/pages/34033ea0-c1e4-81c4-afa0-d1ec98de4bec/markdown
    body:
      string: '{"type":"replace_content","replace_content":{"new_str":"## Updated
        Test Heading\nUsed markdown{color=\"blue\"}"}}'
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"e8-GyXqDJWaxxmDV2QamLRFfcQXxK0"
      x-notion-request-id: 35a2bf6b-0ac7-4088-a9a6-27421ffe06c9
    body:
      string: '{"object":"page_markdown","id":"34033ea0-c1e4-81c4-afa0-d1ec98de4bec","markdown":"##
        Updated Test Heading\nUsed markdown {color=\"blue\"}","truncated":false,"unknown_block_ids":[],"request_id":"35a2bf6b-0ac7-4088-a9a6-27421ffe06c9"}'
  recorded_at: 2026-04-12 21:18:48
recorded_with: VCR-vcr/2.1.0
