http_interactions:
- request:
    method: GET
    uri: https://api.notion.com/v1/users/me
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"17a-1Br6YjZppLMwcBGyou9oK0xPffM"
      x-notion-request-id: 9d64abc9-88af-4183-90ab-45a25935b849
    body:
      string: '{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081","name":"brenwin-internal","avatar_url":null,"type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"Brenwin''s
        Notion","workspace_id":"8c95f187-450c-4f67-a013-54f17e298330","workspace_limits":{"max_file_upload_size_in_bytes":5368709120}},"request_id":"9d64abc9-88af-4183-90ab-45a25935b849"}'
  recorded_at: 2026-04-11 12:02:11
recorded_with: VCR-vcr/2.1.0
