http_interactions:
- request:
    method: POST
    uri: https://api.notion.com/v1/file_uploads
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1ff-rlxeBlq/UDJF97A6RnCE8yw8AYE"
      x-notion-request-id: b79888a0-20a9-48a6-9b79-f05c38c9e098
    body:
      string: '{"object":"file_upload","id":"33f33ea0-c1e4-81f1-8ac1-00b2bbf4291a","created_time":"2026-04-11T12:02:00.000Z","created_by":{"id":"6b786605-e456-4237-9c61-5efaff23c081","type":"bot"},"last_edited_time":"2026-04-11T12:02:00.000Z","expiry_time":"2026-04-11T13:02:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/33f33ea0-c1e4-81f1-8ac1-00b2bbf4291a/send","in_trash":false,"status":"pending","filename":null,"content_type":null,"content_length":null,"request_id":"b79888a0-20a9-48a6-9b79-f05c38c9e098"}'
  recorded_at: 2026-04-11 12:02:12
- request:
    method: POST
    uri: https://api.notion.com/v1/file_uploads/33f33ea0-c1e4-81f1-8ac1-00b2bbf4291a/send
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1b4-ctwb+du13HbkvGChhllAXGAQQr0"
      x-notion-request-id: e8991898-6b8d-4b33-9f24-e1ce0da983a7
    body:
      string: '{"object":"file_upload","id":"33f33ea0-c1e4-81f1-8ac1-00b2bbf4291a","created_time":"2026-04-11T12:02:00.000Z","created_by":{"id":"6b786605-e456-4237-9c61-5efaff23c081","type":"bot"},"last_edited_time":"2026-04-11T12:02:00.000Z","expiry_time":"2026-04-11T13:02:00.000Z","in_trash":false,"status":"uploaded","filename":"test.pdf","content_type":"application/pdf","content_length":40666,"request_id":"e8991898-6b8d-4b33-9f24-e1ce0da983a7"}'
  recorded_at: 2026-04-11 12:02:13
- request:
    method: GET
    uri: https://api.notion.com/v1/file_uploads/33f33ea0-c1e4-81f1-8ac1-00b2bbf4291a
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1b4-N12iOzMEidrsBlivmjubxiPs5i4"
      x-notion-request-id: 36e350a2-ed6c-4812-a05a-7f5cc872800f
    body:
      string: '{"object":"file_upload","id":"33f33ea0-c1e4-81f1-8ac1-00b2bbf4291a","created_time":"2026-04-11T12:02:00.000Z","created_by":{"id":"6b786605-e456-4237-9c61-5efaff23c081","type":"bot"},"last_edited_time":"2026-04-11T12:02:00.000Z","expiry_time":"2026-04-11T13:02:00.000Z","in_trash":false,"status":"uploaded","filename":"test.pdf","content_type":"application/pdf","content_length":40666,"request_id":"36e350a2-ed6c-4812-a05a-7f5cc872800f"}'
  recorded_at: 2026-04-11 12:02:13
recorded_with: VCR-vcr/2.1.0
