http_interactions:
- request:
    method: PATCH
    uri: https://api.notion.com/v1/pages/33f33ea0-c1e4-811a-9790-c5068b52c5d7/markdown
    body:
      string: '{"type":"replace_content","replace_content":{"new_str":"## Updated
        Test Heading\nUsed markdown{color=\"blue\"}"}}'
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"e8-Af092gufI4NEbJz8muJTWySFXCs"
      x-notion-request-id: 50877656-4ed1-4321-b7a1-285152569278
    body:
      string: '{"object":"page_markdown","id":"33f33ea0-c1e4-811a-9790-c5068b52c5d7","markdown":"##
        Updated Test Heading\nUsed markdown {color=\"blue\"}","truncated":false,"unknown_block_ids":[],"request_id":"50877656-4ed1-4321-b7a1-285152569278"}'
  recorded_at: 2026-04-11 12:01:42
recorded_with: VCR-vcr/2.1.0
