http_interactions:
- request:
    method: PATCH
    uri: https://api.notion.com/v1/blocks/34033ea0-c1e4-81c4-afa0-d1ec98de4bec/children
    body:
      string: '{"children":[{"object":"block","heading_2":{"rich_text":[{"text":{"content":"Test
        Heading"}}]}}],"position":{"type":"start"}}'
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"363-EeVeWhGj0+aorSiagDBxq0k4yPs"
      x-notion-request-id: a84673e4-c0c6-4f23-b579-4b93eae2ef3d
    body:
      string: '{"object":"list","results":[{"object":"block","id":"34033ea0-c1e4-8123-be95-e77dcc78e47d","parent":{"type":"page_id","page_id":"34033ea0-c1e4-81c4-afa0-d1ec98de4bec"},"created_time":"2026-04-12T21:18:00.000Z","last_edited_time":"2026-04-12T21:18:00.000Z","created_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"last_edited_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"has_children":false,"in_trash":false,"type":"heading_2","heading_2":{"rich_text":[{"type":"text","text":{"content":"Test
        Heading","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Heading","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"a84673e4-c0c6-4f23-b579-4b93eae2ef3d"}'
  recorded_at: 2026-04-12 21:18:45
recorded_with: VCR-vcr/2.1.0
