http_interactions:
- request:
    method: POST
    uri: https://api.notion.com/v1/file_uploads
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1ff-dWEgksmPxbUZmdrb+1nCjxmD4qg"
      x-notion-request-id: faa76351-7492-4eb5-b6bc-8765d8fe13ae
    body:
      string: '{"object":"file_upload","id":"34033ea0-c1e4-818c-93d0-00b215647918","created_time":"2026-04-12T08:11:00.000Z","created_by":{"id":"6b786605-e456-4237-9c61-5efaff23c081","type":"bot"},"last_edited_time":"2026-04-12T08:11:00.000Z","expiry_time":"2026-04-12T09:11:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/34033ea0-c1e4-818c-93d0-00b215647918/send","in_trash":false,"status":"pending","filename":null,"content_type":null,"content_length":null,"request_id":"faa76351-7492-4eb5-b6bc-8765d8fe13ae"}'
  recorded_at: 2026-04-12 08:11:30
- request:
    method: POST
    uri: https://api.notion.com/v1/file_uploads/34033ea0-c1e4-818c-93d0-00b215647918/send
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1b4-All4DGLAlZHvVdeu07uymDGwAe4"
      x-notion-request-id: 7fe6964c-79de-4e20-85ef-f374ca038b6b
    body:
      string: '{"object":"file_upload","id":"34033ea0-c1e4-818c-93d0-00b215647918","created_time":"2026-04-12T08:11:00.000Z","created_by":{"id":"6b786605-e456-4237-9c61-5efaff23c081","type":"bot"},"last_edited_time":"2026-04-12T08:11:00.000Z","expiry_time":"2026-04-12T09:11:00.000Z","in_trash":false,"status":"uploaded","filename":"test.pdf","content_type":"application/pdf","content_length":40666,"request_id":"7fe6964c-79de-4e20-85ef-f374ca038b6b"}'
  recorded_at: 2026-04-12 08:11:31
- request:
    method: GET
    uri: https://api.notion.com/v1/file_uploads/34033ea0-c1e4-818c-93d0-00b215647918
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1b4-IOxIxRzgT/7L0n70p0TL6/AmdEs"
      x-notion-request-id: e1614ebc-a66f-419f-8323-79ab382bb691
    body:
      string: '{"object":"file_upload","id":"34033ea0-c1e4-818c-93d0-00b215647918","created_time":"2026-04-12T08:11:00.000Z","created_by":{"id":"6b786605-e456-4237-9c61-5efaff23c081","type":"bot"},"last_edited_time":"2026-04-12T08:11:00.000Z","expiry_time":"2026-04-12T09:11:00.000Z","in_trash":false,"status":"uploaded","filename":"test.pdf","content_type":"application/pdf","content_length":40666,"request_id":"e1614ebc-a66f-419f-8323-79ab382bb691"}'
  recorded_at: 2026-04-12 08:11:31
recorded_with: VCR-vcr/2.1.0
