http_interactions:
- request:
    method: PATCH
    uri: https://api.notion.com/v1/databases/ffec20ee-1450-4da8-9904-f4babba0e9c0
    body:
      string: '{"description":[{"text":{"content":"For testing purposes"}}],"icon":{"icon":{"name":"calendar","color":"gray"}}}'
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"42c-R/urOGE6nCEki/KvyZNmEhVho3w"
      x-notion-request-id: 3da849db-72e8-4a9d-855a-4322af514f22
    body:
      string: '{"object":"database","id":"ffec20ee-1450-4da8-9904-f4babba0e9c0","title":[{"type":"text","text":{"content":"Test
        Database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Database","href":null}],"description":[{"type":"text","text":{"content":"For
        testing purposes","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"For
        testing purposes","href":null}],"parent":{"type":"page_id","page_id":"22f33ea0-c1e4-80b9-9c77-d1ab72aedff9"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-04-12T21:18:49.084+00:00","last_edited_time":"2026-04-12T21:18:49.084+00:00","data_sources":[{"id":"b55b16c7-12f3-4e1c-bfbf-759e9cd08f91","name":"Test
        Database"}],"icon":{"type":"icon","icon":{"name":"calendar","color":"gray"}},"cover":null,"url":"https://www.notion.so/ffec20ee14504da89904f4babba0e9c0","public_url":null,"request_id":"3da849db-72e8-4a9d-855a-4322af514f22"}'
  recorded_at: 2026-04-12 21:18:55
recorded_with: VCR-vcr/2.1.0
