http_interactions:
- request:
    method: GET
    uri: https://api.notion.com/v1/pages/23933ea0-c1e4-8104-897b-f5a09269e561/properties/q%3BL%5E?page_size=100
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"80-a3FzbdOYLearq4WcDrQE5ARnVEU"
      x-notion-request-id: 7905abd5-ea30-4e4b-95c3-f2a49113b047
    body:
      string: '{"object":"property_item","type":"checkbox","id":"q%3BL%5E","checkbox":true,"request_id":"7905abd5-ea30-4e4b-95c3-f2a49113b047"}'
  recorded_at: 2025-07-23 05:01:02
recorded_with: VCR-vcr/1.7.1.93
