http_interactions:
- request:
    method: GET
    uri: https://api.notion.com/v1/blocks/34033ea0-c1e4-81c4-afa0-d1ec98de4bec/children
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"363-iX8voOfXGjX9t2owRS786j36opk"
      x-notion-request-id: 4ba0ee62-19b9-4bca-88cb-095118508e71
    body:
      string: '{"object":"list","results":[{"object":"block","id":"34033ea0-c1e4-8123-be95-e77dcc78e47d","parent":{"type":"page_id","page_id":"34033ea0-c1e4-81c4-afa0-d1ec98de4bec"},"created_time":"2026-04-12T21:18:00.000Z","last_edited_time":"2026-04-12T21:18:00.000Z","created_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"last_edited_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"has_children":false,"in_trash":false,"type":"heading_2","heading_2":{"rich_text":[{"type":"text","text":{"content":"Test
        Heading","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Heading","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"4ba0ee62-19b9-4bca-88cb-095118508e71"}'
  recorded_at: 2026-04-12 21:18:46
recorded_with: VCR-vcr/2.1.0
