http_interactions:
- request:
    method: POST
    uri: https://api.notion.com/v1/data_sources
    body:
      string: '{"parent":{"database_id":"efab1bec-0094-4afe-a90c-c9b72d538b4b"},"properties":{"Title":{"title":{}}},"title":[{"text":{"content":"Test
        data source"}}]}'
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"400-TtwSer9E3ZeIXpGSYWzj3hjp8Zs"
      x-notion-request-id: f2eae437-5c2f-4682-bf1d-bd60097c37bd
    body:
      string: '{"object":"data_source","id":"34033ea0-c1e4-81a2-aaf4-000b260f79c9","cover":null,"icon":null,"created_time":"2026-04-12T08:11:00.000Z","created_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"last_edited_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"last_edited_time":"2026-04-12T08:11:00.000Z","title":[{"type":"text","text":{"content":"Test
        data source","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        data source","href":null}],"description":[],"is_inline":false,"properties":{"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"efab1bec-0094-4afe-a90c-c9b72d538b4b"},"database_parent":{"type":"page_id","page_id":"22f33ea0-c1e4-80b9-9c77-d1ab72aedff9"},"url":"https://www.notion.so/efab1bec00944afea90cc9b72d538b4b","public_url":null,"in_trash":false,"request_id":"f2eae437-5c2f-4682-bf1d-bd60097c37bd"}'
  recorded_at: 2026-04-12 08:11:15
recorded_with: VCR-vcr/2.1.0
