http_interactions:
- request:
    method: GET
    uri: https://api.notion.com/v1/users/me
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"17a-F+owYOXl91y2H+xyh239v6IDnb8"
      x-notion-request-id: 1fbcf654-9565-4142-a863-c4ab23392e5d
    body:
      string: '{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081","name":"brenwin-internal","avatar_url":null,"type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"Brenwin''s
        Notion","workspace_id":"8c95f187-450c-4f67-a013-54f17e298330","workspace_limits":{"max_file_upload_size_in_bytes":5368709120}},"request_id":"1fbcf654-9565-4142-a863-c4ab23392e5d"}'
  recorded_at: 2026-04-12 21:19:12
recorded_with: VCR-vcr/2.1.0
