http_interactions:
- request:
    method: GET
    uri: https://api.notion.com/v1/blocks/33f33ea0-c1e4-81cb-b1ae-d9eb58672111
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"307-Bs5PZXdEW+8e1zO1T+23PA9tHR4"
      x-notion-request-id: d57a5ad3-98ad-41c2-b3fc-21e29d60eecb
    body:
      string: '{"object":"block","id":"33f33ea0-c1e4-81cb-b1ae-d9eb58672111","parent":{"type":"page_id","page_id":"33f33ea0-c1e4-811a-9790-c5068b52c5d7"},"created_time":"2026-04-11T12:01:00.000Z","last_edited_time":"2026-04-11T12:01:00.000Z","created_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"last_edited_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"has_children":false,"in_trash":false,"type":"heading_2","heading_2":{"rich_text":[{"type":"text","text":{"content":"Test
        Heading","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Heading","href":null}],"is_toggleable":false,"color":"default"},"request_id":"d57a5ad3-98ad-41c2-b3fc-21e29d60eecb"}'
  recorded_at: 2026-04-11 12:01:37
recorded_with: VCR-vcr/2.1.0
