http_interactions:
- request:
    method: POST
    uri: https://api.notion.com/v1/file_uploads
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"213-EOOu7H3x+n4f61HXt3BIMoiVh7k"
      x-notion-request-id: db0b6358-7cdf-4e5a-9f3b-e716f02cc8c0
    body:
      string: '{"object":"file_upload","id":"34033ea0-c1e4-81cf-a859-00b21dd260e6","created_time":"2026-04-12T08:11:00.000Z","created_by":{"id":"6b786605-e456-4237-9c61-5efaff23c081","type":"bot"},"last_edited_time":"2026-04-12T08:11:00.000Z","expiry_time":"2026-04-12T09:11:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/34033ea0-c1e4-81cf-a859-00b21dd260e6/send","in_trash":false,"status":"pending","filename":"dummy.pdf","content_type":"application/pdf","content_length":null,"request_id":"db0b6358-7cdf-4e5a-9f3b-e716f02cc8c0"}'
  recorded_at: 2026-04-12 08:11:38
recorded_with: VCR-vcr/2.1.0
