http_interactions:
- request:
    method: GET
    uri: https://api.notion.com/v1/pages/23933ea0-c1e4-81d6-a6f6-dd5b57ad4aba
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"382-RT5YoMGsByuQ2A7CJu7I8N3FZ5g"
      x-notion-request-id: b9ea5c65-77df-48fb-b165-5bb2ffffe555
    body:
      string: '{"object":"page","id":"23933ea0-c1e4-81d6-a6f6-dd5b57ad4aba","created_time":"2025-07-23T05:00:00.000Z","last_edited_time":"2025-07-23T05:00:00.000Z","created_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"last_edited_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"22f33ea0-c1e4-80b9-9c77-d1ab72aedff9"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        Page for notionapi","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Page for notionapi","href":null}]}},"url":"https://www.notion.so/Test-Page-for-notionapi-23933ea0c1e481d6a6f6dd5b57ad4aba","public_url":null,"request_id":"b9ea5c65-77df-48fb-b165-5bb2ffffe555"}'
  recorded_at: 2025-07-23 05:00:57
recorded_with: VCR-vcr/1.7.1.93
