http_interactions:
- request:
    method: PATCH
    uri: https://api.notion.com/v1/databases/23933ea0-c1e4-8136-b37b-fa235c6f2a71
    body:
      string: '{"title":[{"text":{"content":"Today''s grocery list"}}]}'
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"3f2-/dWSlim8lT1YCuDg6UxxTvsZivE"
      x-notion-request-id: 68c8b897-f3c1-4cde-a9f3-db92c20ebbb8
    body:
      string: '{"object":"database","id":"23933ea0-c1e4-8136-b37b-fa235c6f2a71","cover":null,"icon":null,"created_time":"2025-07-23T05:01:00.000Z","created_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"last_edited_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"last_edited_time":"2025-07-23T05:01:00.000Z","title":[{"type":"text","text":{"content":"Today''s
        grocery list","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Today''s
        grocery list","href":null}],"description":[],"is_inline":false,"properties":{"In
        stock":{"id":"q%3BL%5E","name":"In stock","type":"checkbox","checkbox":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"23933ea0-c1e4-81d6-a6f6-dd5b57ad4aba"},"url":"https://www.notion.so/23933ea0c1e48136b37bfa235c6f2a71","public_url":null,"archived":false,"in_trash":false,"request_id":"68c8b897-f3c1-4cde-a9f3-db92c20ebbb8"}'
  recorded_at: 2025-07-23 05:01:04
recorded_with: VCR-vcr/1.7.1.93
