http_interactions:
- request:
    method: POST
    uri: https://api.notion.com/v1/file_uploads
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"249-bB5C2SxJBQitCLqQBJGAC2W+46g"
      x-notion-request-id: 6c7a125e-1e50-4edb-bc17-c94144fad02c
    body:
      string: '{"object":"file_upload","id":"34033ea0-c1e4-8103-b3a0-00b2e89d59b5","created_time":"2026-04-12T21:19:00.000Z","created_by":{"id":"6b786605-e456-4237-9c61-5efaff23c081","type":"bot"},"last_edited_time":"2026-04-12T21:19:00.000Z","expiry_time":"2026-04-12T22:19:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/34033ea0-c1e4-8103-b3a0-00b2e89d59b5/send","in_trash":false,"status":"pending","filename":"test-large.txt","content_type":"text/plain;
        charset=utf-8","content_length":null,"number_of_parts":{"total":2,"sent":0},"request_id":"6c7a125e-1e50-4edb-bc17-c94144fad02c"}'
  recorded_at: 2026-04-12 21:19:14
- request:
    method: POST
    uri: https://api.notion.com/v1/file_uploads/34033ea0-c1e4-8103-b3a0-00b2e89d59b5/send
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"2b2-WgnagYm2WVPGpt4MhHL3j4apBhA"
      x-notion-request-id: cb959eee-d309-469a-8bef-6cd6c4952652
    body:
      string: '{"object":"file_upload","id":"34033ea0-c1e4-8103-b3a0-00b2e89d59b5","created_time":"2026-04-12T21:19:00.000Z","created_by":{"id":"6b786605-e456-4237-9c61-5efaff23c081","type":"bot"},"last_edited_time":"2026-04-12T21:19:00.000Z","expiry_time":"2026-04-12T22:19:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/34033ea0-c1e4-8103-b3a0-00b2e89d59b5/send","complete_url":"https://api.notion.com/v1/file_uploads/34033ea0-c1e4-8103-b3a0-00b2e89d59b5/complete","in_trash":false,"status":"pending","filename":"test-large.txt","content_type":"text/plain;
        charset=utf-8","content_length":5767168,"number_of_parts":{"total":2,"sent":1},"request_id":"cb959eee-d309-469a-8bef-6cd6c4952652"}'
  recorded_at: 2026-04-12 21:19:17
[...]
- request:
    method: POST
    uri: https://api.notion.com/v1/file_uploads/34033ea0-c1e4-8103-b3a0-00b2e89d59b5/complete
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1ee-wunGRF0RO8XsCCdGYzyxGO5Pbpk"
      x-notion-request-id: cb97c5a6-720d-4fad-97db-daeb43f04987
    body:
      string: '{"object":"file_upload","id":"34033ea0-c1e4-8103-b3a0-00b2e89d59b5","created_time":"2026-04-12T21:19:00.000Z","created_by":{"id":"6b786605-e456-4237-9c61-5efaff23c081","type":"bot"},"last_edited_time":"2026-04-12T21:19:00.000Z","expiry_time":"2026-04-12T22:19:00.000Z","in_trash":false,"status":"uploaded","filename":"test-large.txt","content_type":"text/plain;
        charset=utf-8","content_length":11534336,"number_of_parts":{"total":2,"sent":2},"request_id":"cb97c5a6-720d-4fad-97db-daeb43f04987"}'
  recorded_at: 2026-04-12 21:19:19
- request:
    method: GET
    uri: https://api.notion.com/v1/file_uploads/34033ea0-c1e4-8103-b3a0-00b2e89d59b5
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1ee-lCOOCdPaxW5PEq8VFPv91K96bbE"
      x-notion-request-id: 72253f12-2f6d-4f99-9ccc-082640709387
    body:
      string: '{"object":"file_upload","id":"34033ea0-c1e4-8103-b3a0-00b2e89d59b5","created_time":"2026-04-12T21:19:00.000Z","created_by":{"id":"6b786605-e456-4237-9c61-5efaff23c081","type":"bot"},"last_edited_time":"2026-04-12T21:19:00.000Z","expiry_time":"2026-04-12T22:19:00.000Z","in_trash":false,"status":"uploaded","filename":"test-large.txt","content_type":"text/plain;
        charset=utf-8","content_length":11534336,"number_of_parts":{"total":2,"sent":2},"request_id":"72253f12-2f6d-4f99-9ccc-082640709387"}'
  recorded_at: 2026-04-12 21:19:19
recorded_with: VCR-vcr/2.1.0
