http_interactions:
- request:
    method: GET
    uri: https://api.notion.com/v1/custom_emojis
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"8c-HpLcTe8c8xhetze/U4QSAc6cpXc"
      x-notion-request-id: fa11b3ad-2fae-4a5e-9d0d-46bb45120924
    body:
      string: '{"object":"list","type":"custom_emoji","results":[],"has_more":false,"next_cursor":null,"request_id":"fa11b3ad-2fae-4a5e-9d0d-46bb45120924"}'
  recorded_at: 2026-04-12 08:11:39
recorded_with: VCR-vcr/2.1.0
