http_interactions:
- request:
    method: GET
    uri: https://api.notion.com/v1/comments?block_id=34033ea0-c1e4-8181-a411-fcffc69c690a
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"32b-HieC2+6hn/iHysklYP/TVbUCPPM"
      x-notion-request-id: 897af6ef-a7d4-42a3-88c7-5ea9b538c19a
    body:
      string: '{"object":"list","results":[{"object":"comment","id":"34033ea0-c1e4-81a9-ba52-001d7629e201","parent":{"type":"page_id","page_id":"34033ea0-c1e4-8181-a411-fcffc69c690a"},"discussion_id":"34033ea0-c1e4-8128-ac6c-001c0bc74a7f","created_time":"2026-04-12T08:11:00.000Z","last_edited_time":"2026-04-12T08:11:00.000Z","created_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"rich_text":[{"type":"text","text":{"content":"Hello
        world!","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Hello
        world!","href":null}],"display_name":{"type":"integration","resolved_name":"brenwin-internal"}}],"next_cursor":null,"has_more":false,"type":"comment","comment":{},"request_id":"897af6ef-a7d4-42a3-88c7-5ea9b538c19a"}'
  recorded_at: 2026-04-12 08:11:27
recorded_with: VCR-vcr/2.1.0
