http_interactions:
- request:
    method: POST
    uri: https://api.notion.com/v1/comments
    body:
      string: '{"parent":{"page_id":"23933ea0-c1e4-81d6-a6f6-dd5b57ad4aba"},"rich_text":[{"text":{"content":"Hello
        world"}}]}'
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"2c9-tTO6j5MuGlSC7xfvauARCqwxGos"
      x-notion-request-id: adbd7b2a-2d2a-4165-8269-4f00cea711ba
    body:
      string: '{"object":"comment","id":"23933ea0-c1e4-8180-a10e-001d4fcf0d39","parent":{"type":"page_id","page_id":"23933ea0-c1e4-81d6-a6f6-dd5b57ad4aba"},"discussion_id":"23933ea0-c1e4-81ea-a476-001c4f062db0","created_time":"2025-07-23T05:01:00.000Z","last_edited_time":"2025-07-23T05:01:00.000Z","created_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"rich_text":[{"type":"text","text":{"content":"Hello
        world","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Hello
        world","href":null}],"display_name":{"type":"integration","resolved_name":"brenwin-internal"},"request_id":"adbd7b2a-2d2a-4165-8269-4f00cea711ba"}'
  recorded_at: 2025-07-23 05:01:06
recorded_with: VCR-vcr/1.7.1.93
