http_interactions:
- request:
    method: GET
    uri: https://api.notion.com/v1/comments?block_id=34033ea0-c1e4-81c4-afa0-d1ec98de4bec
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"32b-5PdT3qh+G9Z50K7ZR0i1xMmXgvM"
      x-notion-request-id: d97cd273-a5dd-4fb6-86d3-84c4d4bc8ebe
    body:
      string: '{"object":"list","results":[{"object":"comment","id":"34033ea0-c1e4-8193-a220-001d29ae83c5","parent":{"type":"page_id","page_id":"34033ea0-c1e4-81c4-afa0-d1ec98de4bec"},"discussion_id":"34033ea0-c1e4-816e-b659-001c804acf56","created_time":"2026-04-12T21:19:00.000Z","last_edited_time":"2026-04-12T21:19:00.000Z","created_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"rich_text":[{"type":"text","text":{"content":"Hello
        world!","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Hello
        world!","href":null}],"display_name":{"type":"integration","resolved_name":"brenwin-internal"}}],"next_cursor":null,"has_more":false,"type":"comment","comment":{},"request_id":"d97cd273-a5dd-4fb6-86d3-84c4d4bc8ebe"}'
  recorded_at: 2026-04-12 21:19:07
recorded_with: VCR-vcr/2.1.0
