http_interactions:
- request:
    method: GET
    uri: https://api.notion.com/v1/views?data_source_id=34033ea0-c1e4-81a2-aaf4-000b260f79c9
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"109-s3oXSwZyhZnHLDWnKUcJ+LE0FZg"
      x-notion-request-id: fe2d429e-e976-43fa-96e3-0f274913ee05
    body:
      string: '{"object":"list","results":[{"object":"view","id":"34033ea0-c1e4-8198-bd0c-000c97c2d0bf"},{"object":"view","id":"34033ea0-c1e4-81e1-942f-000c08810f61"}],"next_cursor":null,"has_more":false,"type":"view","view":{},"request_id":"fe2d429e-e976-43fa-96e3-0f274913ee05"}'
  recorded_at: 2026-04-12 08:11:19
recorded_with: VCR-vcr/2.1.0
