http_interactions:
- request:
    method: GET
    uri: https://api.notion.com/v1/pages/34033ea0-c1e4-81c4-afa0-d1ec98de4bec/properties/%60w%5CX
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"c2-gagmhQwDa6FqA2RYL+qtHGbnSCs"
      x-notion-request-id: 9e3ed29e-1368-4f33-8d71-1dd83a52020d
    body:
      string: '{"object":"property_item","type":"status","id":"%60w%5CX","status":{"id":"c8f1b3f9-4927-44c4-9901-f94d31e7c351","name":"To
        do","color":"red"},"request_id":"9e3ed29e-1368-4f33-8d71-1dd83a52020d"}'
  recorded_at: 2026-04-12 21:18:57
recorded_with: VCR-vcr/2.1.0
