http_interactions:
- request:
    method: POST
    uri: https://api.notion.com/v1/file_uploads
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"213-WDhjzH8XFsnb5RniWPYvAPLX1jg"
      x-notion-request-id: 9d9a832b-bd1f-434a-9a89-efbf582ccae8
    body:
      string: '{"object":"file_upload","id":"34033ea0-c1e4-81c3-9f44-00b285881ad3","created_time":"2026-04-12T21:19:00.000Z","created_by":{"id":"6b786605-e456-4237-9c61-5efaff23c081","type":"bot"},"last_edited_time":"2026-04-12T21:19:00.000Z","expiry_time":"2026-04-12T22:19:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/34033ea0-c1e4-81c3-9f44-00b285881ad3/send","in_trash":false,"status":"pending","filename":"dummy.pdf","content_type":"application/pdf","content_length":null,"request_id":"9d9a832b-bd1f-434a-9a89-efbf582ccae8"}'
  recorded_at: 2026-04-12 21:19:21
recorded_with: VCR-vcr/2.1.0
