http_interactions:
- request:
    method: POST
    uri: https://api.notion.com/v1/file_uploads
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"249-Ps/iZVyZe4f1UPlDymUQ8AC+V3Q"
      x-notion-request-id: ff5b7545-01fa-4b2d-a9d9-28c1634979db
    body:
      string: '{"object":"file_upload","id":"34033ea0-c1e4-812d-9565-00b219008b06","created_time":"2026-04-12T08:11:00.000Z","created_by":{"id":"6b786605-e456-4237-9c61-5efaff23c081","type":"bot"},"last_edited_time":"2026-04-12T08:11:00.000Z","expiry_time":"2026-04-12T09:11:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/34033ea0-c1e4-812d-9565-00b219008b06/send","in_trash":false,"status":"pending","filename":"test-large.txt","content_type":"text/plain;
        charset=utf-8","content_length":null,"number_of_parts":{"total":2,"sent":0},"request_id":"ff5b7545-01fa-4b2d-a9d9-28c1634979db"}'
  recorded_at: 2026-04-12 08:11:31
- request:
    method: POST
    uri: https://api.notion.com/v1/file_uploads/34033ea0-c1e4-812d-9565-00b219008b06/send
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"2b2-kVeWDp++FfCUDM2uX5Cd6+86RHU"
      x-notion-request-id: acf6a246-fe50-4c58-8225-36bcaa253d6f
    body:
      string: '{"object":"file_upload","id":"34033ea0-c1e4-812d-9565-00b219008b06","created_time":"2026-04-12T08:11:00.000Z","created_by":{"id":"6b786605-e456-4237-9c61-5efaff23c081","type":"bot"},"last_edited_time":"2026-04-12T08:11:00.000Z","expiry_time":"2026-04-12T09:11:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/34033ea0-c1e4-812d-9565-00b219008b06/send","complete_url":"https://api.notion.com/v1/file_uploads/34033ea0-c1e4-812d-9565-00b219008b06/complete","in_trash":false,"status":"pending","filename":"test-large.txt","content_type":"text/plain;
        charset=utf-8","content_length":5767168,"number_of_parts":{"total":2,"sent":1},"request_id":"acf6a246-fe50-4c58-8225-36bcaa253d6f"}'
  recorded_at: 2026-04-12 08:11:34
[...]
- request:
    method: POST
    uri: https://api.notion.com/v1/file_uploads/34033ea0-c1e4-812d-9565-00b219008b06/complete
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1ee-T/OmucNt14RYsSRSmEnWRDh0PBw"
      x-notion-request-id: b1bea9d5-20bb-4117-b06c-ae650a6e0b1a
    body:
      string: '{"object":"file_upload","id":"34033ea0-c1e4-812d-9565-00b219008b06","created_time":"2026-04-12T08:11:00.000Z","created_by":{"id":"6b786605-e456-4237-9c61-5efaff23c081","type":"bot"},"last_edited_time":"2026-04-12T08:11:00.000Z","expiry_time":"2026-04-12T09:11:00.000Z","in_trash":false,"status":"uploaded","filename":"test-large.txt","content_type":"text/plain;
        charset=utf-8","content_length":11534336,"number_of_parts":{"total":2,"sent":2},"request_id":"b1bea9d5-20bb-4117-b06c-ae650a6e0b1a"}'
  recorded_at: 2026-04-12 08:11:37
- request:
    method: GET
    uri: https://api.notion.com/v1/file_uploads/34033ea0-c1e4-812d-9565-00b219008b06
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1ee-TNqxQB+Bx/xcY8iV16vfTZ0W8kY"
      x-notion-request-id: 9e291c04-a262-4ed9-9fa9-f1dcb5d56f8b
    body:
      string: '{"object":"file_upload","id":"34033ea0-c1e4-812d-9565-00b219008b06","created_time":"2026-04-12T08:11:00.000Z","created_by":{"id":"6b786605-e456-4237-9c61-5efaff23c081","type":"bot"},"last_edited_time":"2026-04-12T08:11:00.000Z","expiry_time":"2026-04-12T09:11:00.000Z","in_trash":false,"status":"uploaded","filename":"test-large.txt","content_type":"text/plain;
        charset=utf-8","content_length":11534336,"number_of_parts":{"total":2,"sent":2},"request_id":"9e291c04-a262-4ed9-9fa9-f1dcb5d56f8b"}'
  recorded_at: 2026-04-12 08:11:37
recorded_with: VCR-vcr/2.1.0
