http_interactions:
- request:
    method: GET
    uri: https://api.notion.com/v1/views?data_source_id=33f33ea0-c1e4-81a7-af25-000b2a6ab72d
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"109-+HWcaWp6xLROjilIOgbirWaqTRc"
      x-notion-request-id: 64ba79a5-5652-4af4-8d0c-c27d8d67c59c
    body:
      string: '{"object":"list","results":[{"object":"view","id":"33f33ea0-c1e4-8145-9555-000c19cc8d71"},{"object":"view","id":"33f33ea0-c1e4-81d3-b2ac-000ceeee38fd"}],"next_cursor":null,"has_more":false,"type":"view","view":{},"request_id":"64ba79a5-5652-4af4-8d0c-c27d8d67c59c"}'
  recorded_at: 2026-04-11 12:01:56
recorded_with: VCR-vcr/2.1.0
