http_interactions:
- request:
    method: POST
    uri: https://api.notion.com/v1/comments
    body:
      string: '{"rich_text":[{"text":{"content":"Hello world!"}}],"parent":{"page_id":"33f33ea0-c1e4-811a-9790-c5068b52c5d7"}}'
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"2cb-9IIHow/GBDmHVWKkmBmdWjJv3m4"
      x-notion-request-id: 056c749a-7789-4055-8789-d0fc7f74d69c
    body:
      string: '{"object":"comment","id":"33f33ea0-c1e4-8131-8c6c-001df322f981","parent":{"type":"page_id","page_id":"33f33ea0-c1e4-811a-9790-c5068b52c5d7"},"discussion_id":"33f33ea0-c1e4-812b-9234-001c41c4d5d8","created_time":"2026-04-11T12:02:00.000Z","last_edited_time":"2026-04-11T12:02:00.000Z","created_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"rich_text":[{"type":"text","text":{"content":"Hello
        world!","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Hello
        world!","href":null}],"display_name":{"type":"integration","resolved_name":"brenwin-internal"},"request_id":"056c749a-7789-4055-8789-d0fc7f74d69c"}'
  recorded_at: 2026-04-11 12:02:03
recorded_with: VCR-vcr/2.1.0
