http_interactions:
- request:
    method: POST
    uri: https://api.notion.com/v1/data_sources
    body:
      string: '{"parent":{"database_id":"5f9759b2-ad71-4b66-880f-d0306614227b"},"properties":{"Title":{"title":{}}},"title":[{"text":{"content":"Test
        data source"}}]}'
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"400-y5Wn+CvKQ9Y2dMzezYiEOuEKbjI"
      x-notion-request-id: a44de701-2d58-4f21-b3a6-2903d59f9215
    body:
      string: '{"object":"data_source","id":"33f33ea0-c1e4-81a7-af25-000b2a6ab72d","cover":null,"icon":null,"created_time":"2026-04-11T12:01:00.000Z","created_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"last_edited_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"last_edited_time":"2026-04-11T12:01:00.000Z","title":[{"type":"text","text":{"content":"Test
        data source","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        data source","href":null}],"description":[],"is_inline":false,"properties":{"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"5f9759b2-ad71-4b66-880f-d0306614227b"},"database_parent":{"type":"page_id","page_id":"22f33ea0-c1e4-80b9-9c77-d1ab72aedff9"},"url":"https://www.notion.so/5f9759b2ad714b66880fd0306614227b","public_url":null,"in_trash":false,"request_id":"a44de701-2d58-4f21-b3a6-2903d59f9215"}'
  recorded_at: 2026-04-11 12:01:50
recorded_with: VCR-vcr/2.1.0
