http_interactions:
- request:
    method: DELETE
    uri: https://api.notion.com/v1/blocks/23933ea0-c1e4-81d6-a6f6-dd5b57ad4aba
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"22a-B1gfstGk2vf44RsyhWqH7JSVQ0k"
      x-notion-request-id: 3371d06e-15fc-4e7c-b238-baea10ee7926
    body:
      string: '{"object":"block","id":"23933ea0-c1e4-81d6-a6f6-dd5b57ad4aba","parent":{"type":"page_id","page_id":"22f33ea0-c1e4-80b9-9c77-d1ab72aedff9"},"created_time":"2025-07-23T05:00:00.000Z","last_edited_time":"2025-07-23T05:01:00.000Z","created_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"last_edited_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"has_children":true,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        Page for notionapi"},"request_id":"3371d06e-15fc-4e7c-b238-baea10ee7926"}'
  recorded_at: 2025-07-23 05:01:07
recorded_with: VCR-vcr/1.7.1.93
