http_interactions:
- request:
    method: PATCH
    uri: https://api.notion.com/v1/pages/34033ea0-c1e4-8181-a411-fcffc69c690a
    body:
      string: '{"icon":null}'
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"397-Qc2ydAF5ev+shwyFBHF6uumJFoc"
      x-notion-request-id: 493613d8-e089-40c5-a1d9-45866fed19a1
    body:
      string: '{"object":"page","id":"34033ea0-c1e4-8181-a411-fcffc69c690a","created_time":"2026-04-12T08:10:00.000Z","last_edited_time":"2026-04-12T08:10:00.000Z","created_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"last_edited_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"22f33ea0-c1e4-80b9-9c77-d1ab72aedff9"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        Page for notionapi","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Page for notionapi","href":null}]}},"url":"https://www.notion.so/Test-Page-for-notionapi-34033ea0c1e48181a411fcffc69c690a","public_url":null,"request_id":"493613d8-e089-40c5-a1d9-45866fed19a1"}'
  recorded_at: 2026-04-12 08:11:01
recorded_with: VCR-vcr/2.1.0
