http_interactions:
- request:
    method: POST
    uri: https://api.notion.com/v1/views/34033ea0-c1e4-81e1-942f-000c08810f61/queries
    body:
      string: '{}'
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"153-dfN8QGR44mAKlk8HseGr5Ha/Rvs"
      x-notion-request-id: 06e3276d-92e6-4e33-b670-155a8d72c0b3
    body:
      string: '{"object":"view_query","id":"a966d86e-5211-47cb-8a1e-f05bc0a33494","view_id":"34033ea0-c1e4-81e1-942f-000c08810f61","expires_at":"2026-04-12T08:26:21.052+00:00","total_count":1,"results":[{"object":"page","id":"34033ea0-c1e4-8181-a411-fcffc69c690a"}],"next_cursor":null,"has_more":false,"request_id":"06e3276d-92e6-4e33-b670-155a8d72c0b3"}'
  recorded_at: 2026-04-12 08:11:21
recorded_with: VCR-vcr/2.1.0
