http_interactions:
- request:
    method: GET
    uri: https://api.notion.com/v1/blocks/34033ea0-c1e4-8181-a411-fcffc69c690a/children
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"363-1pvH4QklDBJuL7teaU8xYz//prs"
      x-notion-request-id: c8091f76-da85-4f92-a29e-f913af12170a
    body:
      string: '{"object":"list","results":[{"object":"block","id":"34033ea0-c1e4-8137-9ae8-e09c23601f12","parent":{"type":"page_id","page_id":"34033ea0-c1e4-8181-a411-fcffc69c690a"},"created_time":"2026-04-12T08:11:00.000Z","last_edited_time":"2026-04-12T08:11:00.000Z","created_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"last_edited_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"has_children":false,"in_trash":false,"type":"heading_2","heading_2":{"rich_text":[{"type":"text","text":{"content":"Test
        Heading","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Heading","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"c8091f76-da85-4f92-a29e-f913af12170a"}'
  recorded_at: 2026-04-12 08:11:02
recorded_with: VCR-vcr/2.1.0
