http_interactions:
- request:
    method: POST
    uri: https://api.notion.com/v1/views
    body:
      string: '{"data_source_id":"33f33ea0-c1e4-81a7-af25-000b2a6ab72d","name":"Test
        view","type":"table","database_id":"5f9759b2-ad71-4b66-880f-d0306614227b"}'
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"2cf-Y1NgXAYvE0Ym5X/zJsAdj/qBcI4"
      x-notion-request-id: b23092ce-34bc-47e8-b617-02a2dca2f755
    body:
      string: '{"object":"view","id":"33f33ea0-c1e4-8145-9555-000c19cc8d71","parent":{"type":"database_id","database_id":"5f9759b2-ad71-4b66-880f-d0306614227b"},"data_source_id":"33f33ea0-c1e4-81a7-af25-000b2a6ab72d","name":"Test
        view","type":"table","created_time":"2026-04-11T12:01:55.560+00:00","created_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"last_edited_time":"2026-04-11T12:01:55.560+00:00","last_edited_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"url":"https://www.notion.so/5f9759b2ad714b66880fd0306614227b?v=33f33ea0c1e481459555000c19cc8d71","filter":null,"sorts":null,"quick_filters":null,"configuration":{"type":"table"},"request_id":"b23092ce-34bc-47e8-b617-02a2dca2f755"}'
  recorded_at: 2026-04-11 12:01:56
recorded_with: VCR-vcr/2.1.0
