http_interactions:
- request:
    method: GET
    uri: https://api.notion.com/v1/custom_emojis
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"8c-VewQN32GgO6iVnsy/C3bEeEUpPg"
      x-notion-request-id: 341e417e-dbbe-4086-bbd8-c63b7b86357c
    body:
      string: '{"object":"list","type":"custom_emoji","results":[],"has_more":false,"next_cursor":null,"request_id":"341e417e-dbbe-4086-bbd8-c63b7b86357c"}'
  recorded_at: 2026-04-11 12:02:20
recorded_with: VCR-vcr/2.1.0
