http_interactions:
- request:
    method: GET
    uri: https://api.notion.com/v1/blocks/23933ea0-c1e4-81dc-9f56-f3fa251a757f
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"318-rMB4wtZTiXSIq73k9haxffol40E"
      x-notion-request-id: 96790a47-fce1-4aac-ad55-b9d41d6cedd0
    body:
      string: '{"object":"block","id":"23933ea0-c1e4-81dc-9f56-f3fa251a757f","parent":{"type":"page_id","page_id":"23933ea0-c1e4-81d6-a6f6-dd5b57ad4aba"},"created_time":"2025-07-23T05:00:00.000Z","last_edited_time":"2025-07-23T05:00:00.000Z","created_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"last_edited_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"has_children":false,"archived":false,"in_trash":false,"type":"heading_2","heading_2":{"rich_text":[{"type":"text","text":{"content":"Test
        Heading","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Heading","href":null}],"is_toggleable":false,"color":"default"},"request_id":"96790a47-fce1-4aac-ad55-b9d41d6cedd0"}'
  recorded_at: 2025-07-23 05:00:59
recorded_with: VCR-vcr/1.7.1.93
