http_interactions:
- request:
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/34033ea0-c1e4-8112-bc3a-000bc940aa45
    body:
      string: '{"properties":{"Status":{"status":{"options":[{"name":"To do","color":"red"},{"name":"Done","color":"green"}]}}}}'
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"698-sEtE5tQWFYxuAooRKcUGHcEujV0"
      x-notion-request-id: 1b26e9fe-ce3e-4d97-b9c2-3443c2f0fdad
    body:
      string: '{"object":"data_source","id":"34033ea0-c1e4-8112-bc3a-000bc940aa45","cover":null,"icon":null,"created_time":"2026-04-12T21:18:00.000Z","created_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"last_edited_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"last_edited_time":"2026-04-12T21:18:00.000Z","title":[{"type":"text","text":{"content":"Test
        data source","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        data source","href":null}],"description":[],"is_inline":false,"properties":{"Status":{"id":"%60w%5CX","name":"Status","description":null,"type":"status","status":{"options":[{"id":"c8f1b3f9-4927-44c4-9901-f94d31e7c351","name":"To
        do","color":"red","description":null},{"id":"2aaeb7fd-e8fd-460c-8706-4dc0c76f42b0","name":"Done","color":"green","description":null}],"groups":[{"id":"dce53bc5-e097-47f9-a9ad-8cd0ff8398c2","name":"To-do","color":"gray","option_ids":["c8f1b3f9-4927-44c4-9901-f94d31e7c351","2aaeb7fd-e8fd-460c-8706-4dc0c76f42b0"]},{"id":"254fc129-7492-43ee-a3ce-31a08d9f5169","name":"In
        progress","color":"blue","option_ids":[]},{"id":"1ee6424f-428e-4670-839f-c2b69f973883","name":"Complete","color":"green","option_ids":[]}]}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"ffec20ee-1450-4da8-9904-f4babba0e9c0"},"database_parent":{"type":"page_id","page_id":"22f33ea0-c1e4-80b9-9c77-d1ab72aedff9"},"url":"https://www.notion.so/ffec20ee14504da89904f4babba0e9c0","public_url":null,"in_trash":false,"request_id":"1b26e9fe-ce3e-4d97-b9c2-3443c2f0fdad"}'
  recorded_at: 2026-04-12 21:18:56
recorded_with: VCR-vcr/2.1.0
