http_interactions:
- request:
    method: GET
    uri: https://api.notion.com/v1/users
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"21b-L8ow3DTIkoUrvL942fMeHlDXIho"
      x-notion-request-id: fd112634-e4c9-4953-a557-43326deb3f41
    body:
      string: '{"object":"list","results":[{"object":"user","id":"fda12729-108d-4eb5-bbfb-a8f0886794d1","name":"Brenwin","avatar_url":null,"type":"person","person":{}},{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081","name":"brenwin-internal","avatar_url":null,"type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"Brenwin''s
        Notion","workspace_limits":{"max_file_upload_size_in_bytes":5368709120}}}],"next_cursor":null,"has_more":false,"type":"user","user":{},"request_id":"fd112634-e4c9-4953-a557-43326deb3f41"}'
  recorded_at: 2025-07-23 05:01:07
recorded_with: VCR-vcr/1.7.1.93
