http_interactions:
- request:
    method: DELETE
    uri: https://api.notion.com/v1/views/33f33ea0-c1e4-8145-9555-000c19cc8d71
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"d5-8c1pQwde21nr22/O1e+f26Jny5A"
      x-notion-request-id: 65993670-94d2-48a2-92d4-8c36910f9d9b
    body:
      string: '{"object":"view","id":"33f33ea0-c1e4-8145-9555-000c19cc8d71","parent":{"type":"database_id","database_id":"5f9759b2-ad71-4b66-880f-d0306614227b"},"type":"table","request_id":"65993670-94d2-48a2-92d4-8c36910f9d9b"}'
  recorded_at: 2026-04-11 12:02:01
recorded_with: VCR-vcr/2.1.0
