http_interactions:
- request:
    method: GET
    uri: https://api.notion.com/v1/custom_emojis
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"8c-kGNxY702rjcgOR4IZjvFb7pcQTI"
      x-notion-request-id: 57a6f7d8-700e-4018-ade9-6b7f37736f5a
    body:
      string: '{"object":"list","type":"custom_emoji","results":[],"has_more":false,"next_cursor":null,"request_id":"57a6f7d8-700e-4018-ade9-6b7f37736f5a"}'
  recorded_at: 2026-04-12 21:19:23
recorded_with: VCR-vcr/2.1.0
