http_interactions:
- request:
    method: POST
    uri: https://api.notion.com/v1/pages
    body:
      string: '{"parent":{"page_id":"22f33ea0c1e480b99c77d1ab72aedff9"},"properties":{"title":[{"text":{"content":"Test
        Page for notionapi"}}]}}'
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"382-S7g4T68efLv5PpeLslFCqjhdP1w"
      x-notion-request-id: a46593d0-18a7-436e-ab7c-b3049b00c8e8
    body:
      string: '{"object":"page","id":"23933ea0-c1e4-81d6-a6f6-dd5b57ad4aba","created_time":"2025-07-23T05:00:00.000Z","last_edited_time":"2025-07-23T05:00:00.000Z","created_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"last_edited_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"22f33ea0-c1e4-80b9-9c77-d1ab72aedff9"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        Page for notionapi","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Page for notionapi","href":null}]}},"url":"https://www.notion.so/Test-Page-for-notionapi-23933ea0c1e481d6a6f6dd5b57ad4aba","public_url":null,"request_id":"a46593d0-18a7-436e-ab7c-b3049b00c8e8"}'
  recorded_at: 2025-07-23 05:00:54
recorded_with: VCR-vcr/1.7.1.93
