http_interactions:
- request:
    method: PATCH
    uri: https://api.notion.com/v1/pages/34033ea0-c1e4-81c4-afa0-d1ec98de4bec
    body:
      string: '{"icon":{"icon":{"name":"pizza","color":"blue"}}}'
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"3c9-wpnXrASCdEc74i7TBOcQC9CjKnU"
      x-notion-request-id: a6225487-5bf3-45ca-a5c9-a0e89c7e1e24
    body:
      string: '{"object":"page","id":"34033ea0-c1e4-81c4-afa0-d1ec98de4bec","created_time":"2026-04-12T21:18:00.000Z","last_edited_time":"2026-04-12T21:18:00.000Z","created_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"last_edited_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"cover":null,"icon":{"type":"icon","icon":{"name":"pizza","color":"blue"}},"parent":{"type":"page_id","page_id":"22f33ea0-c1e4-80b9-9c77-d1ab72aedff9"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        Page for notionapi","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Page for notionapi","href":null}]}},"url":"https://www.notion.so/Test-Page-for-notionapi-34033ea0c1e481c4afa0d1ec98de4bec","public_url":null,"request_id":"a6225487-5bf3-45ca-a5c9-a0e89c7e1e24"}'
  recorded_at: 2026-04-12 21:18:42
recorded_with: VCR-vcr/2.1.0
