http_interactions:
- request:
    method: DELETE
    uri: https://api.notion.com/v1/views/33f33ea0-c1e4-8145-9555-000c19cc8d71/queries/ee90464c-bd8d-4882-bba6-792a1dba18c6
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"86-LvjjAlts4rK8LgeSI7aWqH/417o"
      x-notion-request-id: 81e8c359-8652-4655-89ac-8a7c13b875de
    body:
      string: '{"object":"view_query","id":"ee90464c-bd8d-4882-bba6-792a1dba18c6","deleted":true,"request_id":"81e8c359-8652-4655-89ac-8a7c13b875de"}'
  recorded_at: 2026-04-11 12:02:00
recorded_with: VCR-vcr/2.1.0
