http_interactions:
- request:
    method: PATCH
    uri: https://api.notion.com/v1/views/34033ea0-c1e4-8192-ac14-000cdad096ce
    body:
      string: '{"name":"Updated view name"}'
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"2d7-58RawJ9ZJG1R+ptBTQtqFQOCPh4"
      x-notion-request-id: 1396db86-43d6-43f5-8f9c-a24d72815839
    body:
      string: '{"object":"view","id":"34033ea0-c1e4-8192-ac14-000cdad096ce","parent":{"type":"database_id","database_id":"ffec20ee-1450-4da8-9904-f4babba0e9c0"},"data_source_id":"34033ea0-c1e4-8112-bc3a-000bc940aa45","name":"Updated
        view name","type":"table","created_time":"2026-04-12T21:18:58.550+00:00","created_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"last_edited_time":"2026-04-12T21:18:59.977+00:00","last_edited_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"url":"https://www.notion.so/ffec20ee14504da89904f4babba0e9c0?v=34033ea0c1e48192ac14000cdad096ce","filter":null,"sorts":null,"quick_filters":null,"configuration":{"type":"table"},"request_id":"1396db86-43d6-43f5-8f9c-a24d72815839"}'
  recorded_at: 2026-04-12 21:19:01
recorded_with: VCR-vcr/2.1.0
