http_interactions:
- request:
    method: GET
    uri: https://api.notion.com/v1/users/me
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"144-NpYedOxNV8BezxhDmki9XoaMUrg"
      x-notion-request-id: 065294fa-c8a4-465a-af1f-07360dd262cf
    body:
      string: '{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081","name":"brenwin-internal","avatar_url":null,"type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"Brenwin''s
        Notion","workspace_limits":{"max_file_upload_size_in_bytes":5368709120}},"request_id":"065294fa-c8a4-465a-af1f-07360dd262cf"}'
  recorded_at: 2025-07-23 05:01:11
recorded_with: VCR-vcr/1.7.1.93
