http_interactions:
- request:
    method: DELETE
    uri: https://api.notion.com/v1/views/34033ea0-c1e4-8192-ac14-000cdad096ce/queries/9af03bd1-ed79-4842-a57c-0bc04fb61be2
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"86-W/sSlACZ3ZQoe3ZFKWpN/QjHzgk"
      x-notion-request-id: ce52ec95-7257-4372-b08f-0fca3da2e0f1
    body:
      string: '{"object":"view_query","id":"9af03bd1-ed79-4842-a57c-0bc04fb61be2","deleted":true,"request_id":"ce52ec95-7257-4372-b08f-0fca3da2e0f1"}'
  recorded_at: 2026-04-12 21:19:02
recorded_with: VCR-vcr/2.1.0
