http_interactions:
- request:
    method: GET
    uri: https://api.notion.com/v1/pages/34033ea0-c1e4-8181-a411-fcffc69c690a
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"397-j2cwx/oJ/cBsLlzdip9Ogl1ciCo"
      x-notion-request-id: a46700f7-201f-42ba-91eb-737e90ce0e19
    body:
      string: '{"object":"page","id":"34033ea0-c1e4-8181-a411-fcffc69c690a","created_time":"2026-04-12T08:10:00.000Z","last_edited_time":"2026-04-12T08:10:00.000Z","created_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"last_edited_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"22f33ea0-c1e4-80b9-9c77-d1ab72aedff9"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        Page for notionapi","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Page for notionapi","href":null}]}},"url":"https://www.notion.so/Test-Page-for-notionapi-34033ea0c1e48181a411fcffc69c690a","public_url":null,"request_id":"a46700f7-201f-42ba-91eb-737e90ce0e19"}'
  recorded_at: 2026-04-12 08:10:53
recorded_with: VCR-vcr/2.1.0
