http_interactions:
- request:
    method: POST
    uri: https://api.notion.com/v1/file_uploads
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"249-5CVZZ4fgfUWodPHKzwR8rrl7HWc"
      x-notion-request-id: 44b33001-393c-4dc7-850a-c8d881a2b317
    body:
      string: '{"object":"file_upload","id":"33f33ea0-c1e4-81e0-ac08-00b2d6067a9c","created_time":"2026-04-11T12:02:00.000Z","created_by":{"id":"6b786605-e456-4237-9c61-5efaff23c081","type":"bot"},"last_edited_time":"2026-04-11T12:02:00.000Z","expiry_time":"2026-04-11T13:02:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/33f33ea0-c1e4-81e0-ac08-00b2d6067a9c/send","in_trash":false,"status":"pending","filename":"test-large.txt","content_type":"text/plain;
        charset=utf-8","content_length":null,"number_of_parts":{"total":2,"sent":0},"request_id":"44b33001-393c-4dc7-850a-c8d881a2b317"}'
  recorded_at: 2026-04-11 12:02:14
- request:
    method: POST
    uri: https://api.notion.com/v1/file_uploads/33f33ea0-c1e4-81e0-ac08-00b2d6067a9c/send
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"2b2-RUfJd9FP4TgBsPK94Jsava8YWCM"
      x-notion-request-id: 3de61c51-c678-47a7-8f3c-7ade397f946c
    body:
      string: '{"object":"file_upload","id":"33f33ea0-c1e4-81e0-ac08-00b2d6067a9c","created_time":"2026-04-11T12:02:00.000Z","created_by":{"id":"6b786605-e456-4237-9c61-5efaff23c081","type":"bot"},"last_edited_time":"2026-04-11T12:02:00.000Z","expiry_time":"2026-04-11T13:02:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/33f33ea0-c1e4-81e0-ac08-00b2d6067a9c/send","complete_url":"https://api.notion.com/v1/file_uploads/33f33ea0-c1e4-81e0-ac08-00b2d6067a9c/complete","in_trash":false,"status":"pending","filename":"test-large.txt","content_type":"text/plain;
        charset=utf-8","content_length":5767168,"number_of_parts":{"total":2,"sent":1},"request_id":"3de61c51-c678-47a7-8f3c-7ade397f946c"}'
  recorded_at: 2026-04-11 12:02:15
[...]
- request:
    method: POST
    uri: https://api.notion.com/v1/file_uploads/33f33ea0-c1e4-81e0-ac08-00b2d6067a9c/complete
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1ee-mdON0fw6A6lV3cJmCYa5ZJ9vCVQ"
      x-notion-request-id: 47314d1f-801d-45db-8668-fa920086dd86
    body:
      string: '{"object":"file_upload","id":"33f33ea0-c1e4-81e0-ac08-00b2d6067a9c","created_time":"2026-04-11T12:02:00.000Z","created_by":{"id":"6b786605-e456-4237-9c61-5efaff23c081","type":"bot"},"last_edited_time":"2026-04-11T12:02:00.000Z","expiry_time":"2026-04-11T13:02:00.000Z","in_trash":false,"status":"uploaded","filename":"test-large.txt","content_type":"text/plain;
        charset=utf-8","content_length":11534336,"number_of_parts":{"total":2,"sent":2},"request_id":"47314d1f-801d-45db-8668-fa920086dd86"}'
  recorded_at: 2026-04-11 12:02:18
- request:
    method: GET
    uri: https://api.notion.com/v1/file_uploads/33f33ea0-c1e4-81e0-ac08-00b2d6067a9c
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1ee-8WrgepPEw38ZpFQ7aVcGZzSB0mE"
      x-notion-request-id: 3f02b466-18d2-45c0-8128-4c871bec9fc4
    body:
      string: '{"object":"file_upload","id":"33f33ea0-c1e4-81e0-ac08-00b2d6067a9c","created_time":"2026-04-11T12:02:00.000Z","created_by":{"id":"6b786605-e456-4237-9c61-5efaff23c081","type":"bot"},"last_edited_time":"2026-04-11T12:02:00.000Z","expiry_time":"2026-04-11T13:02:00.000Z","in_trash":false,"status":"uploaded","filename":"test-large.txt","content_type":"text/plain;
        charset=utf-8","content_length":11534336,"number_of_parts":{"total":2,"sent":2},"request_id":"3f02b466-18d2-45c0-8128-4c871bec9fc4"}'
  recorded_at: 2026-04-11 12:02:18
recorded_with: VCR-vcr/2.1.0
