http_interactions:
- request:
    method: DELETE
    uri: https://api.notion.com/v1/blocks/33f33ea0-c1e4-81cb-b1ae-d9eb58672111
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"316-2Mjf8OsaLEUVxw9zsRHI9fhbHI0"
      x-notion-request-id: 5b397463-467e-470d-8485-928a1cfca955
    body:
      string: '{"object":"block","id":"33f33ea0-c1e4-81cb-b1ae-d9eb58672111","parent":{"type":"page_id","page_id":"33f33ea0-c1e4-811a-9790-c5068b52c5d7"},"created_time":"2026-04-11T12:01:00.000Z","last_edited_time":"2026-04-11T12:02:00.000Z","created_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"last_edited_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"has_children":false,"in_trash":true,"type":"heading_2","heading_2":{"rich_text":[{"type":"text","text":{"content":"Updated
        Test Heading","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Updated
        Test Heading","href":null}],"is_toggleable":false,"color":"default"},"request_id":"5b397463-467e-470d-8485-928a1cfca955"}'
  recorded_at: 2026-04-11 12:02:07
recorded_with: VCR-vcr/2.1.0
