http_interactions:
- request:
    method: POST
    uri: https://api.notion.com/v1/search
    body:
      string: '{"sort":{"timestamp":"last_edited_time","direction":"descending"},"query":"Test
        Page for notionapi","page_size":1,"filter":{"property":"object","value":"page"}}'
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"43b-Fs1/LV1oNIbvpiYNFaiOmV4G1b8"
      x-notion-request-id: 5534a63a-3df6-4e50-8b68-6d503d7a0060
    body:
      string: '{"object":"list","results":[{"object":"page","id":"22f33ea0-c1e4-80b9-9c77-d1ab72aedff9","created_time":"2025-07-13T12:29:00.000Z","last_edited_time":"2026-04-11T12:01:00.000Z","created_by":{"object":"user","id":"fda12729-108d-4eb5-bbfb-a8f0886794d1"},"last_edited_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"cover":null,"icon":{"type":"emoji","emoji":"#️⃣"},"parent":{"type":"block_id","block_id":"21e33ea0-c1e4-8014-963b-cc5ecf889b84"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        Page Parent","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Page Parent","href":null}]}},"url":"https://www.notion.so/Test-Page-Parent-22f33ea0c1e480b99c77d1ab72aedff9","public_url":null}],"next_cursor":"33f33ea0-c1e4-811a-9790-c5068b52c5d7","has_more":true,"type":"page_or_data_source","page_or_data_source":{},"request_id":"5534a63a-3df6-4e50-8b68-6d503d7a0060"}'
  recorded_at: 2026-04-11 12:02:02
recorded_with: VCR-vcr/2.1.0
