http_interactions:
- request:
    method: GET
    uri: https://api.notion.com/v1/users/fda12729-108d-4eb5-bbfb-a8f0886794d1
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"b0-mqt2gnES+CpLgOGOTLCftbYoBm4"
      x-notion-request-id: 4b9c365b-111b-4953-8001-62ed473f5d25
    body:
      string: '{"object":"user","id":"fda12729-108d-4eb5-bbfb-a8f0886794d1","name":"Brenwin","avatar_url":null,"type":"person","person":{},"request_id":"4b9c365b-111b-4953-8001-62ed473f5d25"}'
  recorded_at: 2026-04-12 21:19:12
recorded_with: VCR-vcr/2.1.0
