http_interactions:
- request:
    method: GET
    uri: https://api.notion.com/v1/data_sources/33f33ea0-c1e4-81a7-af25-000b2a6ab72d
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"696-PYTs0UbWaim0gw989uJQ5M8zXEM"
      x-notion-request-id: 805ee967-cc40-4822-b5b1-2d87b63a8140
    body:
      string: '{"object":"data_source","id":"33f33ea0-c1e4-81a7-af25-000b2a6ab72d","cover":null,"icon":null,"created_time":"2026-04-11T12:01:00.000Z","created_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"last_edited_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"last_edited_time":"2026-04-11T12:01:00.000Z","title":[{"type":"text","text":{"content":"Test
        data source","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        data source","href":null}],"description":[],"is_inline":false,"properties":{"Status":{"id":"u%7Clh","name":"Status","description":null,"type":"status","status":{"options":[{"id":"3ac028c6-120e-408e-a5ac-01babd8c42b9","name":"To
        do","color":"red","description":null},{"id":"9b667c41-0ced-4737-aaa1-160b6540b2c2","name":"Done","color":"green","description":null}],"groups":[{"id":"8581f80a-d52f-4a81-bbc3-3d40fdf27069","name":"To-do","color":"gray","option_ids":["3ac028c6-120e-408e-a5ac-01babd8c42b9","9b667c41-0ced-4737-aaa1-160b6540b2c2"]},{"id":"d0171eef-4fe8-42ce-a681-08d32d6b4607","name":"In
        progress","color":"blue","option_ids":[]},{"id":"68bcf228-bcb0-4a03-9a8c-79494bb5fe66","name":"Complete","color":"green","option_ids":[]}]}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"5f9759b2-ad71-4b66-880f-d0306614227b"},"database_parent":{"type":"page_id","page_id":"22f33ea0-c1e4-80b9-9c77-d1ab72aedff9"},"url":"https://www.notion.so/5f9759b2ad714b66880fd0306614227b","public_url":null,"in_trash":false,"request_id":"805ee967-cc40-4822-b5b1-2d87b63a8140"}'
  recorded_at: 2026-04-11 12:01:52
recorded_with: VCR-vcr/2.1.0
