http_interactions:
- request:
    method: DELETE
    uri: https://api.notion.com/v1/views/34033ea0-c1e4-81e1-942f-000c08810f61/queries/a966d86e-5211-47cb-8a1e-f05bc0a33494
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"86-Pg1vA2GYyxoY4V2432bSSZf2wWc"
      x-notion-request-id: 2ea9dd88-3bbe-4fbc-8017-4229f5ceb8d6
    body:
      string: '{"object":"view_query","id":"a966d86e-5211-47cb-8a1e-f05bc0a33494","deleted":true,"request_id":"2ea9dd88-3bbe-4fbc-8017-4229f5ceb8d6"}'
  recorded_at: 2026-04-12 08:11:21
recorded_with: VCR-vcr/2.1.0
