http_interactions:
- request:
    method: POST
    uri: https://api.notion.com/v1/databases/23933ea0-c1e4-8136-b37b-fa235c6f2a71/query
    body:
      string: '{"filter":{"or":[{"property":"In stock","checkbox":{"equals":true}},{"property":"Name","title":{"contains":"kale"}}]},"sorts":[{"property":"Name","direction":"ascending"}],"page_size":100}'
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"416-D8gNgRmF0zUi6hZJOyt5FSdbNnY"
      x-notion-request-id: 7dde87ad-4cbf-4189-8b05-795e9609cc99
    body:
      string: '{"object":"list","results":[{"object":"page","id":"23933ea0-c1e4-8104-897b-f5a09269e561","created_time":"2025-07-23T05:01:00.000Z","last_edited_time":"2025-07-23T05:01:00.000Z","created_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"last_edited_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"23933ea0-c1e4-8136-b37b-fa235c6f2a71"},"archived":false,"in_trash":false,"properties":{"In
        stock":{"id":"q%3BL%5E","type":"checkbox","checkbox":true},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tuscan
        Kale","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tuscan
        Kale","href":null}]}},"url":"https://www.notion.so/Tuscan-Kale-23933ea0c1e48104897bf5a09269e561","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"7dde87ad-4cbf-4189-8b05-795e9609cc99"}'
  recorded_at: 2025-07-23 05:01:02
recorded_with: VCR-vcr/1.7.1.93
