http_interactions:
- request:
    method: POST
    uri: https://api.notion.com/v1/file_uploads
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1ff-db56seL/0OdOoG2ZCumP5d2nHWY"
      x-notion-request-id: 09c2af3a-2f16-4ab1-9bb8-6b22b513ac9f
    body:
      string: '{"object":"file_upload","id":"34033ea0-c1e4-81d1-b9cd-00b2c74cf6cc","created_time":"2026-04-12T21:19:00.000Z","created_by":{"id":"6b786605-e456-4237-9c61-5efaff23c081","type":"bot"},"last_edited_time":"2026-04-12T21:19:00.000Z","expiry_time":"2026-04-12T22:19:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/34033ea0-c1e4-81d1-b9cd-00b2c74cf6cc/send","in_trash":false,"status":"pending","filename":null,"content_type":null,"content_length":null,"request_id":"09c2af3a-2f16-4ab1-9bb8-6b22b513ac9f"}'
  recorded_at: 2026-04-12 21:19:13
- request:
    method: POST
    uri: https://api.notion.com/v1/file_uploads/34033ea0-c1e4-81d1-b9cd-00b2c74cf6cc/send
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1b4-herRj0amMl61L4d9Easi0l01XYE"
      x-notion-request-id: a61439bc-0cdb-4178-b706-ff85d2df6c21
    body:
      string: '{"object":"file_upload","id":"34033ea0-c1e4-81d1-b9cd-00b2c74cf6cc","created_time":"2026-04-12T21:19:00.000Z","created_by":{"id":"6b786605-e456-4237-9c61-5efaff23c081","type":"bot"},"last_edited_time":"2026-04-12T21:19:00.000Z","expiry_time":"2026-04-12T22:19:00.000Z","in_trash":false,"status":"uploaded","filename":"test.pdf","content_type":"application/pdf","content_length":40666,"request_id":"a61439bc-0cdb-4178-b706-ff85d2df6c21"}'
  recorded_at: 2026-04-12 21:19:13
- request:
    method: GET
    uri: https://api.notion.com/v1/file_uploads/34033ea0-c1e4-81d1-b9cd-00b2c74cf6cc
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1b4-3A4P7y0ADBTjScXAukICD5EuVfU"
      x-notion-request-id: 5f731bc2-7740-4dc8-88b9-50f6fa41306b
    body:
      string: '{"object":"file_upload","id":"34033ea0-c1e4-81d1-b9cd-00b2c74cf6cc","created_time":"2026-04-12T21:19:00.000Z","created_by":{"id":"6b786605-e456-4237-9c61-5efaff23c081","type":"bot"},"last_edited_time":"2026-04-12T21:19:00.000Z","expiry_time":"2026-04-12T22:19:00.000Z","in_trash":false,"status":"uploaded","filename":"test.pdf","content_type":"application/pdf","content_length":40666,"request_id":"5f731bc2-7740-4dc8-88b9-50f6fa41306b"}'
  recorded_at: 2026-04-12 21:19:14
recorded_with: VCR-vcr/2.1.0
