http_interactions:
- request:
    method: GET
    uri: https://api.notion.com/v1/pages/33f33ea0-c1e4-811a-9790-c5068b52c5d7/properties/u%7Clh
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"c0-hOJSRD1MQnP0Zdweg2iWGxyPBx8"
      x-notion-request-id: ddc3aaf6-3fcc-4840-9e77-ea6d84631dd5
    body:
      string: '{"object":"property_item","type":"status","id":"u%7Clh","status":{"id":"3ac028c6-120e-408e-a5ac-01babd8c42b9","name":"To
        do","color":"red"},"request_id":"ddc3aaf6-3fcc-4840-9e77-ea6d84631dd5"}'
  recorded_at: 2026-04-11 12:01:54
recorded_with: VCR-vcr/2.1.0
