http_interactions:
- request:
    method: GET
    uri: https://api.notion.com/v1/databases/efab1bec-0094-4afe-a90c-c9b72d538b4b
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"30f-mcqO/Oyktetqijz0Eo8qJ3B1uu8"
      x-notion-request-id: e3ea8198-6336-42e9-bffe-76746fc3a309
    body:
      string: '{"object":"database","id":"efab1bec-0094-4afe-a90c-c9b72d538b4b","title":[{"type":"text","text":{"content":"Test
        Database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"22f33ea0-c1e4-80b9-9c77-d1ab72aedff9"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-04-12T08:11:07.514+00:00","last_edited_time":"2026-04-12T08:11:07.514+00:00","data_sources":[{"id":"4b00477f-d3cf-4c86-a677-a10075c11fd2","name":"Test
        Database"}],"icon":null,"cover":null,"url":"https://www.notion.so/efab1bec00944afea90cc9b72d538b4b","public_url":null,"request_id":"e3ea8198-6336-42e9-bffe-76746fc3a309"}'
  recorded_at: 2026-04-12 08:11:09
recorded_with: VCR-vcr/2.1.0
