http_interactions:
- request:
    method: PATCH
    uri: https://api.notion.com/v1/databases/ffec20ee-1450-4da8-9904-f4babba0e9c0
    body:
      string: '{"in_trash":true}'
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"473-5u2P1gE0IwYfYHlvdJgedZUQGGk"
      x-notion-request-id: c0ca2914-e7ab-43d4-96be-233493c03bc7
    body:
      string: '{"object":"database","id":"ffec20ee-1450-4da8-9904-f4babba0e9c0","title":[{"type":"text","text":{"content":"Test
        Database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Database","href":null}],"description":[{"type":"text","text":{"content":"For
        testing purposes","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"For
        testing purposes","href":null}],"parent":{"type":"page_id","page_id":"22f33ea0-c1e4-80b9-9c77-d1ab72aedff9"},"is_inline":false,"in_trash":true,"is_locked":false,"created_time":"2026-04-12T21:18:49.084+00:00","last_edited_time":"2026-04-12T21:19:02.521+00:00","data_sources":[{"id":"b55b16c7-12f3-4e1c-bfbf-759e9cd08f91","name":"Test
        Database"},{"id":"34033ea0-c1e4-8112-bc3a-000bc940aa45","name":"Test data
        source"}],"icon":{"type":"icon","icon":{"name":"calendar","color":"gray"}},"cover":null,"url":"https://www.notion.so/ffec20ee14504da89904f4babba0e9c0","public_url":null,"request_id":"c0ca2914-e7ab-43d4-96be-233493c03bc7"}'
  recorded_at: 2026-04-12 21:19:11
recorded_with: VCR-vcr/2.1.0
