http_interactions:
- request:
    method: POST
    uri: https://api.notion.com/v1/views/34033ea0-c1e4-8192-ac14-000cdad096ce/queries
    body:
      string: '{}'
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"153-vaNvlOTX7U9+oD/RXuWNb7nAn2M"
      x-notion-request-id: b1c06f37-06d3-4633-9df2-a87eb48b8222
    body:
      string: '{"object":"view_query","id":"9af03bd1-ed79-4842-a57c-0bc04fb61be2","view_id":"34033ea0-c1e4-8192-ac14-000cdad096ce","expires_at":"2026-04-12T21:34:01.702+00:00","total_count":1,"results":[{"object":"page","id":"34033ea0-c1e4-81c4-afa0-d1ec98de4bec"}],"next_cursor":null,"has_more":false,"request_id":"b1c06f37-06d3-4633-9df2-a87eb48b8222"}'
  recorded_at: 2026-04-12 21:19:01
recorded_with: VCR-vcr/2.1.0
