http_interactions:
- request:
    method: POST
    uri: https://api.notion.com/v1/search
    body:
      string: '{"query":"Test Page for notionapi","sort":{"direction":"descending","timestamp":"last_edited_time"},"filter":{"value":"page","property":"object"},"page_size":1}'
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"420-f+4FGZap/+bQcfiRkPpakHlasE4"
      x-notion-request-id: 9f78f94e-8e09-4b47-b652-f25b8afc34b3
    body:
      string: '{"object":"list","results":[{"object":"page","id":"22f33ea0-c1e4-80b9-9c77-d1ab72aedff9","created_time":"2025-07-13T12:29:00.000Z","last_edited_time":"2025-07-23T05:00:00.000Z","created_by":{"object":"user","id":"fda12729-108d-4eb5-bbfb-a8f0886794d1"},"last_edited_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"cover":null,"icon":{"type":"emoji","emoji":"#️⃣"},"parent":{"type":"block_id","block_id":"21e33ea0-c1e4-8014-963b-cc5ecf889b84"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        Page Parent","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Page Parent","href":null}]}},"url":"https://www.notion.so/Test-Page-Parent-22f33ea0c1e480b99c77d1ab72aedff9","public_url":null}],"next_cursor":"47d65dc1-baca-4120-a969-9678e7302f99","has_more":true,"type":"page_or_database","page_or_database":{},"request_id":"9f78f94e-8e09-4b47-b652-f25b8afc34b3"}'
  recorded_at: 2025-07-23 05:01:05
recorded_with: VCR-vcr/1.7.1.93
