http_interactions:
- request:
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/34033ea0-c1e4-81a2-aaf4-000b260f79c9
    body:
      string: '{"properties":{"Status":{"status":{"options":[{"name":"To do","color":"red"},{"name":"Done","color":"green"}]}}}}'
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"694-ogbQc9IicfQfjLgc364mq8fKP0M"
      x-notion-request-id: 3629a270-d451-4600-9a3a-f77dd42fe716
    body:
      string: '{"object":"data_source","id":"34033ea0-c1e4-81a2-aaf4-000b260f79c9","cover":null,"icon":null,"created_time":"2026-04-12T08:11:00.000Z","created_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"last_edited_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"last_edited_time":"2026-04-12T08:11:00.000Z","title":[{"type":"text","text":{"content":"Test
        data source","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        data source","href":null}],"description":[],"is_inline":false,"properties":{"Status":{"id":"BvMv","name":"Status","description":null,"type":"status","status":{"options":[{"id":"d240ac03-dfab-4eb3-8a98-2330b66c38f7","name":"To
        do","color":"red","description":null},{"id":"5ded4a97-d895-468f-bc34-04dc08d7858f","name":"Done","color":"green","description":null}],"groups":[{"id":"104e2ae2-fc22-4731-bd28-96135ba3454d","name":"To-do","color":"gray","option_ids":["d240ac03-dfab-4eb3-8a98-2330b66c38f7","5ded4a97-d895-468f-bc34-04dc08d7858f"]},{"id":"c6ec5f45-a708-478b-9f62-b45082f5c111","name":"In
        progress","color":"blue","option_ids":[]},{"id":"fe31f3b0-2c64-4b20-9266-681b11fbede2","name":"Complete","color":"green","option_ids":[]}]}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"efab1bec-0094-4afe-a90c-c9b72d538b4b"},"database_parent":{"type":"page_id","page_id":"22f33ea0-c1e4-80b9-9c77-d1ab72aedff9"},"url":"https://www.notion.so/efab1bec00944afea90cc9b72d538b4b","public_url":null,"in_trash":false,"request_id":"3629a270-d451-4600-9a3a-f77dd42fe716"}'
  recorded_at: 2026-04-12 08:11:16
recorded_with: VCR-vcr/2.1.0
