http_interactions:
- request:
    method: PATCH
    uri: https://api.notion.com/v1/pages/34033ea0-c1e4-8181-a411-fcffc69c690a/markdown
    body:
      string: '{"type":"replace_content","replace_content":{"new_str":"## Updated
        Test Heading\nUsed markdown{color=\"blue\"}"}}'
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"e8-Ozb0CCNuqrFzplrAqdyCdxw5WHo"
      x-notion-request-id: 068f9057-33d2-4ee2-be77-c0a43f75ac58
    body:
      string: '{"object":"page_markdown","id":"34033ea0-c1e4-8181-a411-fcffc69c690a","markdown":"##
        Updated Test Heading\nUsed markdown {color=\"blue\"}","truncated":false,"unknown_block_ids":[],"request_id":"068f9057-33d2-4ee2-be77-c0a43f75ac58"}'
  recorded_at: 2026-04-12 08:11:07
recorded_with: VCR-vcr/2.1.0
