http_interactions:
- request:
    method: GET
    uri: https://api.notion.com/v1/users
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"251-yFN/JkTu3v+qL8PHo227bqZLZLA"
      x-notion-request-id: 8c6315bb-39f6-46a0-a71f-9d5870c9292a
    body:
      string: '{"object":"list","results":[{"object":"user","id":"fda12729-108d-4eb5-bbfb-a8f0886794d1","name":"Brenwin","avatar_url":null,"type":"person","person":{}},{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081","name":"brenwin-internal","avatar_url":null,"type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"Brenwin''s
        Notion","workspace_id":"8c95f187-450c-4f67-a013-54f17e298330","workspace_limits":{"max_file_upload_size_in_bytes":5368709120}}}],"next_cursor":null,"has_more":false,"type":"user","user":{},"request_id":"8c6315bb-39f6-46a0-a71f-9d5870c9292a"}'
  recorded_at: 2026-04-11 12:01:22
recorded_with: VCR-vcr/2.1.0
