http_interactions:
- request:
    method: DELETE
    uri: https://api.notion.com/v1/views/34033ea0-c1e4-81e1-942f-000c08810f61
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"d5-9QDI8/OF6FwoKJOewGnHyQFr3lE"
      x-notion-request-id: d83da7a4-f8a9-4591-8e7e-84040da1659f
    body:
      string: '{"object":"view","id":"34033ea0-c1e4-81e1-942f-000c08810f61","parent":{"type":"database_id","database_id":"efab1bec-0094-4afe-a90c-c9b72d538b4b"},"type":"table","request_id":"d83da7a4-f8a9-4591-8e7e-84040da1659f"}'
  recorded_at: 2026-04-12 08:11:23
recorded_with: VCR-vcr/2.1.0
