http_interactions:
- request:
    method: POST
    uri: https://api.notion.com/v1/data_sources
    body:
      string: '{"parent":{"database_id":"ffec20ee-1450-4da8-9904-f4babba0e9c0"},"properties":{"Title":{"title":{}}},"title":[{"text":{"content":"Test
        data source"}}]}'
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"400-XiRCb5VhqwfLvvZZ7HHnSQhx6no"
      x-notion-request-id: 9e3c8632-8dd5-49de-b94a-d288b45ef015
    body:
      string: '{"object":"data_source","id":"34033ea0-c1e4-8112-bc3a-000bc940aa45","cover":null,"icon":null,"created_time":"2026-04-12T21:18:00.000Z","created_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"last_edited_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"last_edited_time":"2026-04-12T21:18:00.000Z","title":[{"type":"text","text":{"content":"Test
        data source","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        data source","href":null}],"description":[],"is_inline":false,"properties":{"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"ffec20ee-1450-4da8-9904-f4babba0e9c0"},"database_parent":{"type":"page_id","page_id":"22f33ea0-c1e4-80b9-9c77-d1ab72aedff9"},"url":"https://www.notion.so/ffec20ee14504da89904f4babba0e9c0","public_url":null,"in_trash":false,"request_id":"9e3c8632-8dd5-49de-b94a-d288b45ef015"}'
  recorded_at: 2026-04-12 21:18:55
recorded_with: VCR-vcr/2.1.0
