http_interactions:
- request:
    method: POST
    uri: https://api.notion.com/v1/views
    body:
      string: '{"data_source_id":"34033ea0-c1e4-81a2-aaf4-000b260f79c9","name":"Test
        view","type":"table","database_id":"efab1bec-0094-4afe-a90c-c9b72d538b4b"}'
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"2cf-qDIm1Kqhj9bUc92hGL0wmyRCOGw"
      x-notion-request-id: 0e7ffe44-e3c0-4b17-9e70-6eb7e890de2f
    body:
      string: '{"object":"view","id":"34033ea0-c1e4-81e1-942f-000c08810f61","parent":{"type":"database_id","database_id":"efab1bec-0094-4afe-a90c-c9b72d538b4b"},"data_source_id":"34033ea0-c1e4-81a2-aaf4-000b260f79c9","name":"Test
        view","type":"table","created_time":"2026-04-12T08:11:18.760+00:00","created_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"last_edited_time":"2026-04-12T08:11:18.760+00:00","last_edited_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"url":"https://www.notion.so/efab1bec00944afea90cc9b72d538b4b?v=34033ea0c1e481e1942f000c08810f61","filter":null,"sorts":null,"quick_filters":null,"configuration":{"type":"table"},"request_id":"0e7ffe44-e3c0-4b17-9e70-6eb7e890de2f"}'
  recorded_at: 2026-04-12 08:11:19
recorded_with: VCR-vcr/2.1.0
