http_interactions:
- request:
    method: PATCH
    uri: https://api.notion.com/v1/databases/efab1bec-0094-4afe-a90c-c9b72d538b4b
    body:
      string: '{"in_trash":true}'
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"459-bOvwF0mgqViaQ3DxxmRPtntcxc0"
      x-notion-request-id: f42b92fb-62b8-4e25-9cbd-b47d499692e1
    body:
      string: "{\"object\":\"database\",\"id\":\"efab1bec-0094-4afe-a90c-c9b72d538b4b\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
        Database\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Test
        Database\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"For
        testing purposes\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"For
        testing purposes\",\"href\":null}],\"parent\":{\"type\":\"page_id\",\"page_id\":\"22f33ea0-c1e4-80b9-9c77-d1ab72aedff9\"},\"is_inline\":false,\"in_trash\":true,\"is_locked\":false,\"created_time\":\"2026-04-12T08:11:07.514+00:00\",\"last_edited_time\":\"2026-04-12T08:11:23.057+00:00\",\"data_sources\":[{\"id\":\"4b00477f-d3cf-4c86-a677-a10075c11fd2\",\"name\":\"Test
        Database\"},{\"id\":\"34033ea0-c1e4-81a2-aaf4-000b260f79c9\",\"name\":\"Test
        data source\"}],\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F929\"},\"cover\":null,\"url\":\"https://www.notion.so/efab1bec00944afea90cc9b72d538b4b\",\"public_url\":null,\"request_id\":\"f42b92fb-62b8-4e25-9cbd-b47d499692e1\"}"
  recorded_at: 2026-04-12 08:11:29
recorded_with: VCR-vcr/2.1.0
