http_interactions:
- request:
    method: POST
    uri: https://api.notion.com/v1/comments
    body:
      string: '{"rich_text":[{"text":{"content":"Hello world!"}}],"parent":{"page_id":"34033ea0-c1e4-81c4-afa0-d1ec98de4bec"}}'
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"2cb-HpHEpRkXiybk1w6bJA4EDqNNAKU"
      x-notion-request-id: 9d02c544-abcc-4224-bd68-6009ea129c89
    body:
      string: '{"object":"comment","id":"34033ea0-c1e4-8193-a220-001d29ae83c5","parent":{"type":"page_id","page_id":"34033ea0-c1e4-81c4-afa0-d1ec98de4bec"},"discussion_id":"34033ea0-c1e4-816e-b659-001c804acf56","created_time":"2026-04-12T21:19:00.000Z","last_edited_time":"2026-04-12T21:19:00.000Z","created_by":{"object":"user","id":"6b786605-e456-4237-9c61-5efaff23c081"},"rich_text":[{"type":"text","text":{"content":"Hello
        world!","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Hello
        world!","href":null}],"display_name":{"type":"integration","resolved_name":"brenwin-internal"},"request_id":"9d02c544-abcc-4224-bd68-6009ea129c89"}'
  recorded_at: 2026-04-12 21:19:07
recorded_with: VCR-vcr/2.1.0
