http_interactions:
- request:
    method: GET
    uri: https://api.notion.com/v1/users/fda12729-108d-4eb5-bbfb-a8f0886794d1
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"b0-SAeBrtxNlmZwNOrGQgi7V1FhLu4"
      x-notion-request-id: 8fbaec29-bf8b-41f7-8e56-a51013986607
    body:
      string: '{"object":"user","id":"fda12729-108d-4eb5-bbfb-a8f0886794d1","name":"Brenwin","avatar_url":null,"type":"person","person":{},"request_id":"8fbaec29-bf8b-41f7-8e56-a51013986607"}'
  recorded_at: 2026-04-11 12:02:11
recorded_with: VCR-vcr/2.1.0
